<style>
    .stars {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        line-height: 32px;
        font-size: 25px;
        color: #f00;
    }

    .company_table{display: none}
    .materials_table{display: none}
</style>
<form class="layui-form">
    <table border="1" class="layui-table" width="100px" >
        <tr>
            <td>操作提示 </td>
            <td colspan="4">您已经完成照片上传，请检查所填信息，无误后提交审查<span class="stars">*</span>为必填</td>
        </tr>
        <tr>
            <td><span class="stars">*</span>鉴定名称:</td>
            <td colspan="2">
                <input type="hidden" name="id" class="id" value="{$arrExamEnroll.id}">
                <select  name="exam_plan_id" id="exam_plan_id" class="type" lay-filter="exam_plan_id" lay-verify="required|exam_plan_id">
                    {foreach name="arrExamPlan" id="v"}
                    <option value="{$v.id}" {if($arrEnroll.exam_plan_id == $v.id)} selected {/if}> {$v.title}</option>
                    {/foreach}
                </select>
            </td>
            <td><span class="stars">*</span>鉴定类别:</td>
            <td>
                <label data-value="" id="work_type_id" lay-filter="work_type_id">{$arrExamEnroll.work_type_name}</label>
            </td>

        </tr>
        <tr>
            <td><span class="stars">*</span>报考职业(工种):</td>
            <td colspan="2">
                <select  name="work_id" id="work_id" lay-filter="work_id" lay-verify="required|work_id">
                    <option value="{$arrExamEnroll.wid}"> {$arrExamEnroll.workname}</option>
                </select>
            </td>
            <td class="direction"><span class="stars">*</span>报考职业方向:</td>
            <td class="direction">
                <select  name="work_direction_id" class="type" id="work_direction_id" lay-filter="work_direction_id" lay-verify="work_direction_id">
                    <option value="{$arrExamEnroll.did}"> {$arrExamEnroll.directionname}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="worklevel"><span class="stars">*</span>鉴定级别:</td>
            <td colspan="2" class="worklevel">
                <select  name="work_level_subject_level" class="type" id="work_level_subject_level" lay-filter="work_level_subject_level" lay-verify="work_level_subject_level">
                    <option value="{$arrExamEnroll.work_level_subject_level}"> {$arrExamEnroll->work_level_subject_level} </option>
                </select>
            </td>
            <td>参加考试日程:</td>
            <td><span id="exam_time">{$arrExamEnroll.exam_time}</span></td>
            <!--<td>考试科目:</td>-->
            <!--<td >-->
                <!--<select  name="subject_id" class="type" id="subject_id" lay-filter="subject_id" lay-verify="required|subject_id">-->
                     <!--<option value=""> </option>-->
                <!--</select>-->
            <!--</td>-->
        </tr>
        <!--<tr>-->
        <!--<td>原证书编号:</td>-->
        <!--<td colspan="2">-->
        <!--</td>-->
        <!--<td>原证书级别:</td>-->
        <!--<td colspan="2">-->
        <!--</td>-->
        <!--</tr>-->
        <tr>
            <td><span class="stars">*</span>审核方式:</td>
            <td colspan="2">

                <input type="radio" name="audit_way" class="audit_way" lay-filter="audit_way" lay-verify="required|audit_way" value="0" title="线下审核" {$arrExamEnroll.audit_way=='线下审核'?'checked':'';}>
                <input type="radio" name="audit_way" class="audit_way" lay-filter="audit_way" lay-verify="required|audit_way" value="1" title="线上审核" {$arrExamEnroll.audit_way=='线上审核'?'checked':''}>

            </td>

            <!--<td>考生来源:</td>-->
            <!--<td>-->
                <!--<select  name="source" class="type" id="source" lay-filter="source">-->
                    <!--<option value="7"> 社会</option>-->
                    <!--<option value="4"> 企业</option>-->
                    <!--<option value="5"> 学校</option>-->
                    <!--<option value="6"> 机关事业单位</option>-->
                <!--</select>-->
            <!--</td>-->
        </tr>
        <tr>
            <td  class="company_table"><span class="stars">*</span>现场审核地点:</td>
            <td colspan= "2"  class="company_table">
                <select  name="audit_site" class="type" id="audit_site"  lay-filter="audit_site" lay-verify="required|audit_way">
                    <option value="{$arrExamEnroll.audit_site}"> {$arrExamEnroll.audit_site} </option>
                </select>
            </td>

        </tr>
        <tr>
            <td><span class="stars">*</span>参加考试地点:</td>
            <td colspan="2">
                <select  name="exam_site" class="type" id="exam_site" lay-filter="exam_site" lay-verify="required|audit_way">
                    <option value="{$arrExamEnroll.exam_site}"> {$arrExamEnroll.exam_site} </option>
                </select>
            </td>
        </tr>
        <tr class="materials_table">
            <td><span class="stars">*</span>上传资料:</td>
            <td style="text-align: center">
                <div class="photo2 shangchuan" >
                    <input type="hidden" name="exam_enroll_id" id="exam_enroll_id" value="">
                    {if !empty($fileData)}
                        {if (in_array(config('ApplyStatus.zheng'),$fileData[1]))}
                        <img src="{$fileData[1]['path']==''?'/static/img/zheng.png':$fileData[1]['path']}" class="" data-value="1" style="max-width:150px;height: 100px; "></br><i class="layui-icon layui-icon-add-circle-fine"></i>身份证正面</img>
                        {/if}
                    {else /}
                    <img src="/static/img/zheng.png" class="" data-value="1" style="width:150px;max-width:150px;height: 100px;  "></br><i class="layui-icon layui-icon-add-circle-fine"></i>身份证正面</img>
                    {/if}
                    <input type="hidden" name="zheng" id="zheng" class="img_url" value="{$fileData[1]['path']?$fileData[1]['path']:''}" lay-filter="zheng" lay-verify="zheng" >
                </div>
            </td>
            <td style="text-align: center">
                <span class="shili "></span>
                <div class="photo2 shangchuan">
                    {if !empty($fileData)}
                        {if (in_array(config('ApplyStatus.fan'),$fileData[2]))}
                        <img src="{$fileData[2]['path']==''?'/static/img/fan.png':$fileData[2]['path']}" class="" data-value="4" style="max-width:150px;height: 100px; "></br><i class="layui-icon layui-icon-add-circle-fine"></i>身份证反面</img>
                        {/if}
                    {else /}
                    <img src="/static/img/fan.png" class="" data-value="4" style="width:150px;max-width:150px;height: 100px;  "></br><i class="layui-icon layui-icon-add-circle-fine"></i>身份证反面</img>
                    {/if}
                    <input type="hidden"  name="fan" id="fan" class="img_url" value="{$fileData[2]['path']?$fileData[2]['path']:''}" lay-filter="fan" lay-verify="fan">
                </div>
            </td>
            <td style="text-align: center">
                <span class="shili "></span>
                <div class="photo2 shangchuan">
                    {if !empty($fileData)}
                        {if (in_array(config('ApplyStatus.xue'),$fileData[3]))}
                        <img src="{$fileData[3]['path']==''?'/static/img/xueli.png':$fileData[3]['path']}" class="" data-value="2" style="max-width:150px;height: 100px; "></br><i class="layui-icon layui-icon-add-circle-fine"></i>学历</img>
                        {/if}
                    {else /}
                    <img src="/static/img/xueli.png" class="" data-value="2" style="width:150px;max-width:150px;height: 100px;  "></br><i class="layui-icon layui-icon-add-circle-fine"></i>学历</img>
                    {/if}
                    <input type="hidden"  name="xueli" id="xueli" class="img_url" value="{$fileData[3]['path']?$fileData[3]['path']:''}" lay-filter="xueli" lay-verify="xueli">
                </div>
            </td>
            <td style="text-align: center">
                <span class="shili "></span>
                <div class="photo2 shangchuan">
                    {if !empty($fileData)}
                       {if !empty($fileData[4])}
                            {if (in_array(config('ApplyStatus.cert'),$fileData[4]))}
                            <img src="{$fileData[4]['path']==''?'/static/img/addbuddha.jpg':$fileData[4]['path']}" class="" data-value="3" style="max-width:150px;height: 100px; "></br><i class="layui-icon layui-icon-add-circle-fine"></i>其他</img>
                            {/if}
                        {else /}
                            <img src="/static/img/addbuddha.jpg" class="" data-value="3" style="width:150px;max-width:150px;height: 100px;  "></br><i class="layui-icon layui-icon-add-circle-fine"></i>其他</img>
                        {/if}
                    {else /}
                    <img src="/static/img/addbuddha.jpg" class="" data-value="3" style="width:150px;max-width:150px;height: 100px;  "></br><i class="layui-icon layui-icon-add-circle-fine"></i>其他</img>
                    {/if}
                    <input type="hidden" name="cert" id="cert" class="img_url" value="{$fileData[4]['path']?$fileData[4]['path']:''}" lay-filter="cert" lay-verify="cert" >
                </div>
            </td>
        </tr>
        <tr>
            <td>备注:</td>
            <td colspan="4">
                <textarea name="remark"  placeholder="请输入内容" class="layui-textarea">{$arrEnroll.remark?$arrEnroll.remark:''} </textarea>
            </td>
        </tr>
        <tr>
            <td><span class="stars">*</span>诚信声明:</td>
            <td colspan="4" >
                <input  type="checkbox" name="checkPost" id="checkPost" value=""  lay-skin="primary"  lay-filter="required|checkPost" lay-verify="checkPost">&nbsp;&nbsp;{:config('ExamEnrollStatus.cooper')}
            </td>
        </tr>
        <tr style="text-align: center">
            <td colspan="5">
                <button class="layui-btn" id="addorganize" lay-submit lay-filter="formSubmit">确认并立即修改</button>
            </td>
        </tr>

    </table>
</form>
</body>
{load href="__PUBLIC__/layui/css/layui.css"/}
<script src="__PUBLIC__/layui/assets/jquery-1.12.4.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script>
    layui.use('element', function(){
        var element = layui.element;
    });

    layui.use(['form', 'layer','upload','jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var upload = layui.upload
        if($("#work_direction_id").val()=='' ){
            $('.direction').css('visibility','hidden');
            form.render();
        }
        if($("#work_level_subject_level").val()==''){
            $('.worklevel').css('display','hidden');
            form.render();
        }
        //form表单验证
        form.verify({
            exam_plan_id: function (value) {
                if (value == "") {
                    return "请选择鉴定名称";
                }
            },
            work_id: function (value) {
                if (value == "") {
                    return "请选择报考职业工种";
                }
            },
            work_direction_id: function (value) {
                if($(".direction").is(":visible") !== false) {
                    if (value == "") {
                        return "请选择职业方向";
                    }
                }
            },
            work_level_subject_level: function (value) {
                if($(".worklevel").is(":visible") !== false) {
                    if (value == "") {
                        return "请选择鉴定级别";
                    }
                }
            },
            work_type_id: function (value) {
                if (value == "") {
                    return "职业类别必填";
                }
            },
//			exam_type: function (value) {
//				if (value == "") {
//					return "请选择考试类型";
//				}
//			},
            audit_way: function (value) {
                if(!$("input[name=audit_way]:checked").val()){
                    return "请选择审核方式";
                }
            },
            audit_site: function (value) {
                return value;
                if($("input[name=audit_way]:checked").val() == '') {
                    if (value == "") {
                        return "请选择现场审核地点";
                    }
                }
            },

            zheng: function (value) {
                if($("input[name=audit_way]:checked").val() == 1) {
                    if ($("#zheng").val() == '') {
                        return "请上传身份证正面";
                    }
                }
            },
            fan: function (value) {
                if($("input[name=audit_way]:checked").val() == 1) {
                    if ($("#fan").val() == '') {
                        return "请上传身份证反面";
                    }
                }
            },
            xueli: function (value) {
                if($("input[name=audit_way]:checked").val() == 1) {
                    if ($("#xueli").val() == '') {
                        return "请上传学历证书";
                    }
                }
            },

            checkPost: function (value){
                if(!$("#checkPost").is(":checked")){
                    return "请确认诚信条款";
                }
            }
        });
        //根据鉴定名称获取工种
        form.on('select(exam_plan_id)', function(data){
            var exam_plan_id = data.value;
            $.ajax({
                url:'/api/ExamPlan/examSelbyid',
                type:'post',
                dataType:'json',
                data:{
                    exam_plan_id:exam_plan_id,
                },
                success:function (data) {
                    if (data.code==1){
                        $("#work_id").html("<option value='' >请选择</option>");
                        $("#work_direction_id").html("<option value='' >请选择</option>");
                        $("#work_type_id").html("");
                        $("#work_level_subject_level").html("<option value='' >请选择</option>");
                        $("#exam_time").html("");
                        $("#audit_site").html("<option value='' >请选择</option>");
                        $("#exam_site").html("<option value='' >请选择</option>");
                        var work_id = document.getElementById ("work_id");
                        var work_type_id = document.getElementById ("work_type_id");
                        var exam_time = document.getElementById ("exam_time");

                        var html ="<option value=''>请选择</option>";
                        for (var i=0;i<data.data[0].length;i++){
                            html += '<option  value="'+data.data[0][i]['wid']+'">'+data.data[0][i]['code'] +"   "+ data.data[0][i]['name']+'</option>';
                        };
                        $('#work_id').html(html);
                        form.render();

                        work_type_id.value =  data.data[1]['work_type'];
                        work_type_id.innerText = data.data[1]['work_type_name'];
                        //返回考试时间
                        exam_time.innerText = data.data[1]['exam_time'];
                    }else{
                        $("#work_id").html("");
                        $("#work_direction_id").html("");
                        $("#work_type_id").html("");
                        $("#work_level_subject_level").html("");
                        $("#subject_id").html("");
                        $("#audit_site").html("");
                        $("#exam_site").html("");
                        form.render('select');
                        layer.msg(data.msg)
                    }
                }
            });
            //防止页面跳转
            return false;
        });

        //获取职业方向和级别
        form.on('select(work_id)', function(data){
            var work_id = data.value;
            var exam_plan_id = $("#exam_plan_id").val();
            $.ajax({
                url:'/api/Work/selDirecLevel',
                type:'post',
                dataType:'json',
                data:{
                    work_id:work_id,
                    alltype_id:exam_plan_id,
                },
                success:function (data) {
                    if (data.code==1){
                        var htmldir ="<option value=''>请选择</option>";
                        var htmllevel ="<option value=''>请选择</option>";
                        var htmlsub ="<option value=''>请选择</option>";
                        if(data.data[0].length<1){
                            $('.direction').css('visibility','hidden');
                            form.render();
                        }else{
                            $('.direction').css('visibility','inherit');
                            for (var i=0;i<data.data[0].length;i++){
                                htmldir += '<option  value="'+data.data[0][i]['id']+'">'+data.data[0][i]['name']+'</option>';
                            }
                            $('#work_direction_id').html(htmldir);
                            form.render();
                        }
                        if(data.data[1].length<1){
                            $('.worklevel').css('display','none');
                            form.render();
                        }else {
                            $('.worklevel').css('display','');
                            for (var i = 0; i < data.data[1].length; i++) {
                                htmllevel += '<option  value="' + data.data[1][i]['work_level'] + '">' + data.data[1][i]['level_text'] + '</option>';
                            }
                            $('#work_level_subject_level').html(htmllevel);
                            form.render();
                        }

                        htmlsub += '<option>'+data.data[2]+'</option>';
                        $('#subject_id').html(htmlsub);
                        form.render();

                    }else{
                        $("#work_direction_id").html("");
                        $("#work_level_subject_level").html("");

//                        $("#subject_id").html("");
                        form.render();
                        layer.msg(data.msg)
                    }
                }
            });
            //防止页面跳转
            return false;
        });

        //获取现场审核地点 参加考试地点
        form.on('select(work_level_subject_level)', function(data){
            var exam_plan_id = $("#exam_plan_id").val();
            var work_type_id = $("#work_type_id").val();
            var work_level_subject_level = $("#work_level_subject_level").val();
            $.ajax({
                url:'/api/ExamPlan/selAuditExamSite',
                type:'post',
                dataType:'json',
                data:{
                    exam_plan_id:exam_plan_id,
                    work_type_id:work_type_id,
                    work_level_subject_level:work_level_subject_level,
                },
                success:function (data) {
                    if (data.code==1){
                        var htmlaudit ="<option value=''>请选择</option>";
                        var htmlsite ="<option value=''>请选择</option>";
                        for(var i in data.data[0]) {
                            htmlaudit += '<option  value="'+data.data[0][i]['name']+'">'+data.data[0][i]['name']+'</option>';
                        }
                        $('#audit_site').html(htmlaudit);
                        form.render();

                        for(var i in data.data[1]) {
                            htmlsite += '<option site_id="'+data.data[1][i]['id']+'" value="'+data.data[1][i]['name']+'">'+data.data[1][i]['name']+'</option>';
                        }
                        $('#exam_site').html(htmlsite);
                        form.render();

                    }else{
                        $("#audit_site").html("");
                        $("#exam_site").html("");
                        form.render();
                        layer.msg(data.msg)
                    }
                }
            });
            //防止页面跳转
            return false;
        });


        //添加表单监听事件
        form.on('submit(formSubmit)', function (data) {
            data=data.field;
            data.site_id = $("#exam_site").find("option:selected").attr("site_id");
            id = $(".id").val();
            $.ajax({
                url:'/api/ExamEnroll/update',
                type:'post',
                data:data,
                dataType:'json',
                success:function (data) {
                    if (data.code==1){
                        layer.msg(data.msg,{
                            icon: 1,//提示的样式
                            time:  2000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
                            end: function () {
                                $.get("/examinee/Center/examdetail?id="+id, function(data) {
                                    parent.$("#iframeContent").html(data); //初始化加载界面
                                    parent.layer.closeAll();
                                });
                            }
                        });
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
            //防止页面跳转
            return false;
        });

//        $(".company_table").hide();
//		$("#audit_site").empty();
//        form.on('radio',function (data) {
//            if(data.value==1){
//                $(".company_table").show();
//            }else{
//                $(".company_table").hide();
//                $("#audit_site").empty();
//            }
//        })

        if($(" input[name='audit_way']:checked ").val()==1){
            $(".company_table").hide();
            $(".materials_table").show();
//                $("#audit_site").empty();
        }else{
            $(".company_table").show();
            $(".materials_table").hide();
        }

        form.on('radio(audit_way)',function (data) {
            if(data.value==1){
                $(".company_table").hide();
                $(".materials_table").show();
//                $("#audit_site").empty();
            }else{
                $(".company_table").show();
                $(".materials_table").hide();
            }
        });


        $(".others").click(function () {
            $('.displayfile').show();
        })
        $('.displayfile').hide();


        //执行实例
        var uploadInst = upload.render({
            elem: '.shangchuan', //绑定元素
            url: '/api/UserInfo/upload', //上传接口
            exts: "jpg",
            done: function(res) {
                //上传完毕回调
                if (res == 404) {
                    layer.msg('上传失败');
                } else {
                    this.item.find('img').attr('src',res);
                    this.item.find('img').val(res);
                    this.item.children('input.img_url').val(res);
                    layer.closeAll('loading');
                }
            },
            error: function() {
                //请求异常回调
                layer.close("上传失败，请检查网络后重试");
            }
        });

    });
</script>
