{extend name='nonelayout'}
{block name='css'}
{/block}
{block name="content"}

<div class="WoYaoBaoMing layui-form">
    <h2 class="tanchuang_title">报名表</h2>
    <p style="margin: 20px 0 10px 80px;">您可以报名以下鉴定计划：</p>
    <div style="margin-left: 100px;">
        <div><input type="radio" name="sex" value="2018秋季A类鉴定1" title="2018秋季A类鉴定"><a href="WoDeBaoMing.html">详情</a></div>
        <div><input type="radio" name="sex" value="2018秋季A类鉴定2" title="2018秋季A类鉴定"><a href="###">详情</a></div>
        <div><input type="radio" name="sex" value="2018秋季A类鉴定3" title="2018秋季A类鉴定"><a href="###">详情</a></div>
        <div><input type="radio" name="sex" value="2018秋季A类鉴定4" title="2018秋季A类鉴定" checked><a href="###">详情</a></div>
    </div>

    <div class="double_btn double_qx2">
        <div class="dayin_btn margin_right_15">填写报名信息</div>
    </div>
</div>
{/block}
{block name="script"}
<script>

</script>
{/block}