<div>
    <div class="header_title"><span>缴费</span></div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <!--<button class="layui-btn" id="addExamInfo">-->
                        <!--<i class="layui-icon">&#xe608;</i> 添加-->
                    <!--</button>-->
                </div>
            </div>
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <!--<col width="5%">-->
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <!--<col>-->
                        <!--<col>-->
                        <!--<col>-->
                        <!--<col>-->
                        <!--<col>-->
                        <col width="455px">
                    </colgroup>
                    <thead>
                    <tr>
                        <!--<th>ID</th>-->
                        <th>鉴定计划</th>
                        <th>工种</th>
                        <th>方向</th>
                        <th>级别</th>
                        <!--<th>理论</th>-->
                        <!--<th>实操</th>-->
                        <!--<th>综合</th>-->
                        <!--<th>论文评审</th>-->
                        <!--<th>审核状态</th>-->
                        <!--<th>進度</th>-->
                        <!--<th>报名时间</th>-->
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="examData" id="vo"}
                    <tr>
                        <!--<td>{$vo['id']}</td>-->
                        <td>{$vo['title']}</td>
                        <td>{$vo['workname']}</td>
                        <td>{$vo['directionname']}</td>
                        <td>{$vo->work_level_subject_level}</td>
                        <!--<td>-->
                            <!--{$vo->status}-->
                        <!--</td>-->
                        <!--<td>{$vo['create_time']}</td>-->
                        <td style="text-align:right" >
                            <button class="layui-btn layui-btn-xs auditDetail" data-value="{$vo['id']}" >查看</button>
                            {if (in_array($vo.status,config('EnrollStatus.pay')))}
                            <button class="layui-btn layui-btn-xs layui-btn-danger feepayment" data-value="{$vo['id']}" >缴费</button>
                            {else /}
                            {/if}
                            {if (in_array($vo.status,config('EnrollStatus.ticket')))}
                            <button class="layui-btn layui-btn-xs layui-btn-warm printExam" data-value="{$vo['id']}" >打印准考证</button>
                            {else /}
                            {/if}
                        </td>
                    </tr >
                    </tbody>
                    {/volist}
                </table>
            </div>
        </div>
    </div>
</div>


<div class="XiuGaiDiZhi layui-form" style="display: none;">
    <h2 class="tanchuang_title">地址修改</h2>
    <div class="XiuGaiDiZhi_main">
        <div class="layui-form-item">
            <label class="layui-form-label">邮寄地址</label>
            <div class="layui-input-block">
                <input type="text" name="title" placeholder="请输入地址" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" name="title" placeholder="请输入电话" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="double_btn double_qx">
        <div class="dayin_btn payment margin_right_15">确定</div>
        <div class="gray_btn payment">取消</div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'layer','jquery','element'], function () {
        var element = layui.element;
        var form  = layui.form;
        var $  = layui.jquery;
        var layer = layui.layer;
        $('.feepayment').on('click', function () {
            id = $(this).data('value');
            layer.open({
                type: 2,
                area: ['500px', '600px'],
                title: "缴费",
                content: '/examinee/center/pay?id='+id,
            });
        });

        //详情
        $(".auditDetail").click(function () {
            var id = $(this).data('value');
            layer.open({
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                area: ['90%', '90%'], //宽高
                title: "查看详情",
                content: "/examinee/center/examdetail?id="+id,  //调到新增页面
                yes: function(index, layero){
                    //do something
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
        });

        //打印准考证
        $(".printExam").click(function () {
            var id = $(this).data('value');
            layer.open({
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                area: ['600px', '600px'], //宽高
                title: "打印准考证",
                content: "/examinee/center/printExam?id="+id,  //调到新增页面
                yes: function(index, layero){
                    //do something
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
        });
    });

</script>