<div>
	<div class="header_title"><span>论文上传</span> </div>
	<div class="baoming_main">
		<table class="layui-table myorder_table" lay-skin="line">
			<colgroup>
				<col>
				<col>
				<col>
				<col>
				<col width="200">
			</colgroup>
		<thead>
			<tr>
				<th>鉴定计划</th>
				<th>工种</th>
				<th>方向</th>
				<th>等级</th>
				<th>考试时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2018秋季A类鉴定</td>
				<td>焊工</td>
				<td>电焊</td>
				<td>三级</td>
				<td>2018.7.6</td>
				<td class="double_btn">
					<div class="blue_btn">上传</div>
				</td>
			</tr>
			<tr>
				<td>2018秋季A类鉴定</td>
				<td>焊工</td>
				<td>电焊</td>
				<td>三级</td>
				<td>2018.7.6</td>
				<td class="double_btn">
					<div class="blue_btn">上传</div>
				</td>
			</tr>
			<tr>
				<td>2018秋季A类鉴定</td>
				<td>焊工</td>
				<td>电焊</td>
				<td>三级</td>
				<td>2018.7.6</td>
				<td class="double_btn">
					<div class="blue_btn">上传</div>
				</td>
			</tr>
			
		</tbody>
	</table>
	<p class="tishi"><span><img src="img/happy.png"/></span> 温馨提示：请在开始考试10日前上传答辩论文，在规定时间内未提交论文的考生视为放弃综合评审答辩考试</p>
	</div>
</div>
<script type="text/javascript">
	layui.use(['form', 'laypage','laydate'], function() {
		var form = layui.form,
			$ = layui.jquery;
		form.render();
		var laydate = layui.laydate;
		$ = layui.jquery;
		form.render();
		
		var laypage = layui.laypage;

	});
</script>