<div>
    <div class="header_title"><span>答题详情</span>
    </div>
    <div class="layui-col-xs8 layui-col-md8   biaoti">
        <h3>单选题</h3>
        <div class="biaoti_main">
            <ul>
                <li class="bg_green">1</li>
                <li class="bg_green">2</li>
                <li class="bg_green">3</li>
                <li class="bg_green">4</li>
                <li class="bg_green">5</li>
                <li class="bg_green">6</li>
                <li class="bg_red">7</li>
                <li class="bg_green">8</li>
                <li class="bg_green">9</li>
                <li class="bg_red">10</li>
                <li>11</li>
                <li>12</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>

            </ul>
        </div>
        <h3>多选题</h3>
        <div class="biaoti_main">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
            </ul>
        </div>
        <div class="dayin_btn fanhui ajax-linkk" onclick="javascript :history.back(-1)">返回</div>
    </div>

</div>

<script type="text/javascript">
    layui.use(['form', 'table', 'laypage', 'laydate'], function() {
        var form = layui.form,
            $ = layui.jquery;
        form.render();
        var laydate = layui.laydate;
        $ = layui.jquery;
        form.render();

        var laypage = layui.laypage;

    });
    $(".ajax-linkk").each(function() {
        $(this).click(function() {
            var diZhi = $(this).attr("rel");
            htmlobj = $.ajax({
                url: diZhi,
                async: false
            });
            $(".ajax-Box").html(htmlobj.responseText);
        });
    });
</script>