<div class="header_title"><span>填写报名</span></div>
<div class="tianxiebaoming layui-form">
	<div class="tianxiebaoming_main">
		<div class="layui-col-xs4 layui-col-md4">
			<div class="layui-form-item">
				<label class="layui-form-label">鉴定计划</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">小学</option>
						<option value="1">初中</option>
						<option value="2">高中</option>
						<option value="3">本科</option>
						<option value="4">专科</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">考生来源</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">小学</option>
						<option value="1">初中</option>
						<option value="2">高中</option>
						<option value="3">本科</option>
						<option value="4">专科</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">原已获职业资格</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">小学</option>
						<option value="1">初中</option>
						<option value="2">高中</option>
						<option value="3">本科</option>
						<option value="4">专科</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">鉴定等级</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">小学</option>
						<option value="1">初中</option>
						<option value="2">高中</option>
						<option value="3">本科</option>
						<option value="4">专科</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">申报单位</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">小学</option>
						<option value="1">初中</option>
						<option value="2">高中</option>
						<option value="3">本科</option>
						<option value="4">专科</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4 layui-col-md4">
			<div class="layui-form-item">
				<label class="layui-form-label">参加工作时间</label>
				<div class="layui-input-block">
					<input type="text" name="date" id="date" lay-verify="date" placeholder="起止日期" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">报名方式</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value="0">个人</option>
						<option value="1">单位</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">原考评证书编号</label>
				<div class="layui-input-block">
					<input type="text" name="title" placeholder="请输入证书编号" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">资格级别</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value="0">个人</option>
						<option value="1">单位</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">是否申请邮寄</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value="0">是</option>
						<option value="1">否</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4 layui-col-md4" style="height: 140px;">
			<div class="layui-form-item">
				<label class="layui-form-label">工作单位</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">小学</option>
						<option value="1">初中</option>
						<option value="2">高中</option>
						<option value="3">本科</option>
						<option value="4">专科</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">原级别</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">小学</option>
						<option value="1">初中</option>
						<option value="2">高中</option>
						<option value="3">本科</option>
						<option value="4">专科</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">已获专业技术资格</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">小学</option>
						<option value="1">初中</option>
						<option value="2">高中</option>
						<option value="3">本科</option>
						<option value="4">专科</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">申报考评工种</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value="0">个人</option>
						<option value="1">单位</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">参加考试地点</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">是</option>
						<option value="1">否</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-col-xs12 layui-col-md12 ">
		<div class="layui-col-xs8 layui-col-md8 ">
		<div class="layui-form-item">
			<label class="layui-form-label">审核方式</label>
			<div class="layui-input-block">
				<div class="leftfloat"><input type="radio" name="sex" value="线上审核" title="线上审核" checked=""></div>
				<div class="leftfloat"><input type="radio" name="sex" value="现场审核" title="现场审核"></div>
			</div>
		</div>
		</div>
		<div class="layui-col-xs4 layui-col-md4 ">
		<div class="layui-form-item">
				<label class="layui-form-label">审核地点</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value="0">是</option>
						<option value="1">否</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">主要技术成果 <p>业绩</p></label>
			<div class="layui-input-block">
				<textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
			</div>
		</div>
	</div>
	<div class="layui-col-xs12 layui-col-md12">
		<div class="layui-form-item" style="height: 150px;">
			<label class="layui-form-label">上传资料</label>
			<div class="layui-input-block">
				<div class="photo2" id="shangchuan"><i class="layui-icon layui-icon-add-circle-fine"></i></div>
				<span class="shili"></span>
				<div class="photo2"><i class="layui-icon layui-icon-add-circle-fine"></i></div>
			</div>
		</div>
		<div class="layui-form-item" style="margin-top: 15px;">
			<label class="layui-form-label">验证码</label>
			<div class="layui-input-block">
				<input type="text" name="title" placeholder="请输入验证码" required lay-verify="required" autocomplete="off" class="layui-input yzm_input2">
				<img class="yzmimg" src="img/yanzm.png">
			</div>
		</div>
		<div class="layui-table-cell wotongyi laytable-cell-1-0-0 laytable-cell-checkbox"><input type="checkbox" name="layTableCheckbox" lay-skin="primary">
			<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon layui-icon-ok"></i></div>
			我同意 <a href="#"><span class="redcolor">《江西职业鉴定条款》</span></a>
		</div>
	</div>
	<div class="double_btn double_xinxi_btn">
		<div class="kong_btn tijiaodayin">预览</div>
		<div class="dayin_btn tijiaodayin rightfloat">确认无误并提交</div>
	</div>
</div>

<script>
	layui.use(['form', 'laydate', 'upload'], function() {
		var upload = layui.upload;
		var form = layui.form;
		var laydate = layui.laydate;
		$ = layui.jquery;
		form.render();
		laydate.render({
			elem: '#date' //指定元素
		});
		//执行实例
		var uploadInst = upload.render({
			elem: '#shangchuan' //绑定元素
				,
			url: '/upload/' //上传接口
				,
			done: function(res) {
				//上传完毕回调
			},
			error: function() {
				//请求异常回调
			}
		});
	});
</script>