{extend name="common@layout/nonelayout" /}
{block name='css'}
<style>
    .layui-form-checkbox span {
        height: auto;
    }
</style>
{/block}
{block name='content'}
<div style="width: 97%;margin-top: 20px;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">员工编号</label>
            <div class="layui-input-inline">
                <input type="text" name="username" required lay-verify="username" placeholder="用户名" value=""
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">创建后无法修改</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="" required lay-verify="required" placeholder="真实姓名"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属科室</label>
            <div class="layui-input-block">
                <select name="office_id" id="">
                    {volist name='office' id='vo'}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="phone" value="" required lay-verify="phone" placeholder="电话" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">拥有角色</label>
            <div class="layui-input-block">
                {volist name='role' id='vo'}
                <input type="checkbox" name="role_id[{$vo.id}]" lay-skin="primary" title="{$vo.name}"/>
                {/volist}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="启用" checked>
                <input type="radio" name="status" value="0" title="冻结">
            </div>
        </div>
        <input type="hidden" name="cityId" value="{$cityId}">
        <div class="layui-form-item">
            <div class="layui-input-block lhj-sub">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name='script'}
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form, $ = layui.jquery;
        form.verify({
            //username存不存在
            username: function (value) {
                if (value.length === 0) return '用户名不能为空';
                var msg;
                $.ajax({
                    type: "post",
                    async: false,
                    url: '/api/admin/findAdmin',
                    data: {'username': value},
                    success: function (res) {
                        if (res) {
                            msg = '用户名已存在';
                        }
                    }
                });
                return msg;
            },
        });
        //监听提交
        form.on('submit(formDemo)', function (data) {
            var formData = data.field, button = $(this);
            button.addClass('layui-btn-disabled').attr('disabled', true);
            $.post(urladdr.doaddAdmin, formData, function (data) {
                if (data.code === 1) {
                    layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                        layer.close(layer.index);
                        window.parent.location.reload();
                    });
                } else {
                    layer.msg(data.msg, {icon: 5}, function () {
                        button.removeClass('layui-btn-disabled').removeAttr('disabled');
                    });
                }
            });
            return false;
        });
    });
</script>
{/block}