<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/lay.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/main.css" />
    <title>找回密码</title>
</head>

<body class="">
<div class="header_top">
    <div class="layui-container">
        <div class="layui-col-xs6 jd_header_left"><span>当前日期：2018年9月10日</span><span>10:30</span><span>星期一</span></div>
        <div class="layui-col-xs6 jd_header_right">
            <span>设为首页 </span>
            <span>加入收藏</span>
            <span>主任信箱</span>
        </div>
    </div>
</div>
<div class="banner"><img src="__PUBLIC__/layui/img/banner.png" /></div>
<nav>
    <div class="layui-container">
        <ul class="nav">
            <li>
                <a href="#">首页</a>
            </li><span>|</span>
            <li>
                <a href="#">政务公开</a>
            </li><span>|</span>
            <li>
                <a href="#">鉴定安排</a>
            </li><span>|</span>
            <li>
                <a href="#">政策法规</a>
            </li><span>|</span>
            <li>
                <a href="#">资讯中心</a>
            </li><span>|</span>
            <li>
                <a href="#">技能竞赛</a>
            </li><span>|</span>
            <li>
                <a href="#">党建园地</a>
            </li>
        </ul>
    </div>
</nav>
<div class="RetrievePassword_main">
    <div class="layui-container">
        <ul class="subnav_process">
            <li class="active">
                <div>
                    <i>1</i>
                    <p>填写帐号</p>
                </div>
                <i></i>
            </li>
            <li>
                <div>
                    <i>2</i>
                    <p>设置新密码</p>
                </div>
                <i></i>
            </li>
            <li class="last">
                <div>
                    <i>3</i>
                    <p>完成</p>
                </div>

            </li>
        </ul>
    </div>
    <div class="layui-tab layui-tab-brief RetrievePassword_tab" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">手机号码找回</li>
            <li>邮箱找回</li>
        </ul>
        <div class="layui-tab-content " style="height: 200px;">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号：</label>
                    <div class="layui-input-block">
                        <input type="text" id="mobile" name="mobile" required  lay-verify="required"  lay-verify="title" autocomplete="off" placeholder="请填写准确有效的手机号码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">验证码：</label>
                    <div class="layui-input-block">
                        <input type="text" id="code" name="code" required lay-verify="required" autocomplete="off" placeholder="请输入验证码" class="layui-input yzm_input">
                        <a href="javascript:;" id="send_str" class="huoqu_btn">获取验证码</a>&nbsp;&nbsp;<span id="p_djs" style="display: none" >(<span id="djs">0</span>)</span></span>
                    </div>

                </div>
                <a href="javascript:;"><div class="denglu_btn" id="phonePass">下一步</div></a>
            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请填写准确有效的邮箱" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">验证码：</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入验证码" class="layui-input yzm_input">
                        <a href="#" class="huoqu_btn">获取验证码</a>
                    </div>

                </div>
                <div class="denglu_btn">下一步</div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <img class="quanwei" src="__PUBLIC__/layui/img/quanwei.png" />
    <p>主办单位：江西省职业技能鉴定指导中心 技术支持：博奥教育科技有限公司</p>
    <p>网上支持（职业资格问答） 　　您是第 9027267 位访问者</p>
</footer>
</body>

</html>
<script src="__PUBLIC__/layui/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/layui/js/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/layui/js/layui.all.js" type="text/javascript" charset="utf-8"></script>

<script src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layer','jquery','element'], function () {
        var element = layui.element;
        var form  = layui.form;
        var $  = layui.jquery;
        //form表单验证
        form.verify({
            mobile: function (value) {
                if (value == "") {
                    return "手机号不能为空";
                }
            },
            code: function (value) {
                if (value == "") {
                    return "手机验证码不能为空";
                }
            },

        });

        //为表单添加blur事件
//        $('#mobile').blur(function () {
//            var reg = /^1[3456789]\d{9}$/;
//            if(!($('#mobile').val().match(reg))){
//                layer.msg('请输入合法手机号');
//                return false;
//            }
//            var  mobile = $('#mobile').val();
//            //ajax异步刷新
//            $.post("/api/UserLogin/checkPhone",{mobile:mobile},function (data) {
//                if (data.code == -1){
//                    layer.msg(data.msg);
//                }
//            });
//            return false;
//        });

        // 为密码添加正则验证
        $('#code').blur(function() {
            var reg = /^[\w]{6}$/;
            if(!($('#code').val().match(reg))){
                layer.msg('请输入正确手机验证码');
            }
            return false;
        });

        $('#send_str').on('click', function() {
            
            var time=60;
            var mobile = $('#mobile').val();
            var sends = $('#djs').text();

            //ajax异步刷新
            $.post("/api/UserLogin/checkPhone",{mobile:mobile},function (data) {
                if (data.code == -1){
                    layer.msg(data.msg);
                }
            });
            if(sends != false)
            {
                return false;
            }
             var reg = /^1[3456789]\d{9}$/;
            if(! (mobile.match(reg))){
                layer.msg('请输入合法手机号');
                return false;
            }
            $.post("/api/UserLogin/sendMessage", {mobile: mobile}, function (data) {
                if (data.code == 1) {
                    var setTime;
                    setTime = setInterval(function () {
                        if (time <= 0) {
                            $("#send_str").text("重新发送");
                            $("#djs").text(0);
                            clearInterval(setTime);
                            return;
                        }
                        time--;
                        $("#send_str").text("已发送("+time+")");
                        $('#djs').text(time);
                    }, 1000);
                } else {
                    layer.msg('发送失败', {icon: 2});
                }
            });
        });

        $('#phonePass').click(function(){
            var reg = /^1[3456789]\d{9}$/;
            var mobile = $('#mobile').val();
            var code = $('#code').val();
            if(!(mobile.match(reg))){
                layer.msg('请输入合法手机号');
                return false;
            }
            if(code=='')
            {
                layer.msg('验证码不能为空');
                return false;
            }
            $.ajax({
                url:'/api/UserLogin/checkSms',
                type:'post',
                data:{
                    mobile:mobile,
                    code:code
                },
                dataType:'json',
                //判断登录状态
                success:function (data) {
                    if (data.code==1){
                       
                        location.href = '/examinee/index/forgetPasstwo?mobile='+data.data.mobile;
                    }else{
                        layer.msg(data.msg)
                    }
                }
            });
            return false;

        });

//        //添加表单监听事件
        form.on('submit(sub)',function () {
            // alert(1);
            var  mobile = $('#mobile').val();
            var  vercode = $('#L_vercode').val();
            if (mobile == ''){
                layer.msg('请重新输入手机号');
            }
            if (code == ''){
                layer.msg('请重新输入验证码');
            }

            $.ajax({
                url:'/api/UserLogin/forgetPassAction',
                type:'post',
                data:{
                    mobile:mobile,
                    yzm:vercode
                },
                dataType:'json',
                //判断登录状态
                success:function (data) {
                    if (data.status==1){
                        layer.msg(data.msg, {
                            icon: 1,//提示的样式
                            time: 2000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
                            end: function () {
                                location.href = 'index';
                            }
                        })
                    }else{
                        layer.msg(data.msg)
                    }
                }
            });
            //防止页面跳转
            return false;
        });
    });
</script>