{extend name="common@layout/nonelayout" /}
{block name="css"}
{/block}
{block name="content"}
<body>
<div class="layui-card-body layui-form">
    <table class="layui-table" id="table">
        <thead>
        <tr>
            <td>ID</td>
            <th>订单号</th>
            <th>证件号</th>
            <th>所报工种</th>
            <th>所报级别</th>
            <th>理论单价</th>
            <th>实操单价</th>
            <th>综合单价</th>
            <th>订单价格</th>
        </tr>
        </thead>
        <tbody>
        {volist name="objDetail" id="vo"}
        <tr>
            <td>{$i}</td>
            <td>{$vo.order_num}</td>
            <td>{$vo.id_card}</td>
            <td>{$vo.work_name}</td>
            <td>{:config('EnrollStatusText.work_level_subject_level')[$vo.level]}</td>
            <td>{$vo.lilun_price}</td>
            <td>{$vo.shicao_price}</td>
            <td>{$vo.zonghe_price}</td>
            <td>{$vo.total_money}</td>
        </tr>
        {/volist}
        {volist name="objDetail" length='1' id="vo"}
        申请组织 :{$vo.organize_name?$vo.organize_name:"其他"}
        组织类型:{switch name="$vo['organize_type']"}
        {case value="1"}鉴定所{/case}
        {case value="2"}院校{/case}
        {case value="3"}机构{/case}
        {case value="-1"}其他{/case}
        {default /}其他
        {/switch}
        {/volist}
        </tbody>
    </table>
</div>
</body>
{/block}
{/extend}
{block name="script"}{/block}