{extend name="common@layout/nonelayout" /}
{block name="css"}
{/block}
{block name="content"}
<div class="con_box">
    <!--<a class="dc_btn">导出</a>-->
    <div class="con_head">
        <span>{$arrData.exam_enroll_name}</span><span>工种：{$arrData.work_name}</span><span>方向：{$arrData.work_direction_name}</span><span>等级：{$arrData.work_level_subject_level}</span>
    </div>
    <div class="con_main">
        <div class="con_left">
            <span>申报条件</span>
            <div class="pad20">
                <p>1、硬件是平均分，申好的学校平均分最好在85以上，尽量刷高，大四没事了你就刷吧。成绩能不能改动可以问你出国的师兄师姐，不同学校要求不同。如果不能改动，你之前挂过的科目在大四最好重修，考到85+，这样很快就能把绩点刷上来。不用担心大四才清考，可以跟学校说一下你预计能拿多少平均分（如果大三申请时拿的平均分太低的话）</p>
                <p>2、去英国考雅思；托福GRE是美国考，在美国如果学商科考GMAT，学法律考LSAT。你需要结合自己的专业以及目标学校的要求来定参加什么考试。比如有的英国学校的商科申请也需要GMAT成绩。</p>
                <p>3、文书PS个人陈述,CV,RL推荐信得好好写，这些是体现综合素质的材料，有的学校看重个人发展高于学校名声。</p>
            </div>
        </div>
        <div class="con_center">
            <span>个人相片</span>
            <div class="center_photo"  style="width: 90px; height: 120px">
                <div style="width: 90px; height: 120px"><img style="width: 90px; height: 120px" rel="lightbox" src="{$avatar['avatar']}" onerror="this.src='__PUBLIC__/layui/img/timg.jpg'" /></div>
            </div>
        </div>
        <div class="con_right">
            <span>申报资料</span>

            <div class="pad20 zl_box">
                <div>
                    <div class="img_bor"><img class="EnlargePhoto" rel="lightbox" src="{volist name='arrImg' id='vo'}{if $vo['type']==1}{$vo['path']}{/if}{/volist}" onerror="this.src='__PUBLIC__/layui/img/zheng.png'" /></div>
                    <p>身份证正面</p>
                </div>
                <div>
                    <div class="img_bor"><img class="EnlargePhoto" rel="lightbox" src="{volist name='arrImg' id='vo'}{if $vo['type']==4}{$vo['path']}{/if}{/volist}"  onerror="this.src='__PUBLIC__/layui/img/fan.png'" /></div>
                    <p>身份证反面</p>
                </div>
                <div>
                    <div class="img_bor"><img class="EnlargePhoto" rel="lightbox"  src="{volist name='arrImg' id='vo'}{if $vo['type']==2}{$vo['path']}{/if}{/volist}" onerror="this.src='__PUBLIC__/layui/img/xueli.png'" /></div>
                    <p>学历证</p>
                </div>
                {volist name='arrImg' id='vo'}
                {if $vo['type']==5}
                <div>
                    <div class="img_bor"><img class="EnlargePhoto" rel="lightbox" src="{$vo['path']}" onerror="this.src='__PUBLIC__/layui/img/zheng.png'" /></div>
                    <p>其他</p>
                </div>
                {/if}{/volist}
            </div>


        </div>
    </div>
</div>
{/block}
{/extend}
{block name="script"}
<script>
    layui.use(['form', 'layer','jquery'], function(){
        var $ = layui.jquery;
        $('.img_bor img').zoomify({ scale:  1});
        $(function(){
            $('.layadmin-text-center').on('click',function(){
                var src = $(this).children().attr('src');
                var img = '<img src="'+ src +'">'
                layer.open({
                    type: 1,//Page层类型f
                    area: ['800px', '400px'],
                    title: '图片详情',
                    shade: 0.6 ,//遮罩透明度
                    maxmin: true ,//允许全屏最小化
                    anim: 1 ,//0-6的动画形式，-1不开启
                    content: img
                });
            });
        });
    });
</script>
{/block}
