{extend name="common@layout/nonelayout" /}
{block name="css"}
{/block}
{block name="content"}
<body>
<form class="layui-form"  style="white-space:nowrap;">
    {volist name="arrWork" length='1' id="vo"}
    {if $vo.status == 1}
    <center><h2 style="color: red">发布后只能修改时间</h2></center>
    <input type="hidden" name="status" id="status" value="{$vo['status']}">
    {/if}
    {/volist}
    <div class="layui-form-item">
        <label class="layui-form-label">鉴定计划标题</label>
        <div class="layui-input-block">{volist name="arrWork" length='1' id="vo"}
            <input type="text" name="title" id="title" placeholder="请输入标题" {if $vo.status == 1}disabled{/if} value="{$vo.title}" lay-verify="title" autocomplete="off" class="layui-input">{/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">报名时间：</label>
            <div class="layui-input-block">{volist name="arrWork" length='1' id="vo"}
                <input type="text" style="width: 400px;" class="layui-input" name="enroll" id="enroll" value="{$vo.enroll_starttime} 到 {$vo.enroll_endtime}" placeholder="开始 到 结束">{/volist}
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">审核截止时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="audit_endtime" id="audit_endtime" value="{volist name="arrWork" length='1' id="vo"}{$vo.audit_endtime}{/volist}" placeholder="请选择时间">
                <div class="layui-form-mid layui-word-aux">审核截止时间必须大于报名截止时间</div>

            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">缴费截止时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="pay_endtime" id="pay_endtime" value="{volist name="arrWork" length='1' id="vo"}{$vo.pay_endtime}{/volist}" placeholder="请选择时间">
                <div class="layui-form-mid layui-word-aux">缴费截止时间必须大于审核截止时间</div>

            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">打印准考证时间</label>
            <div class="layui-input-block">
                &nbsp&nbsp&nbsp<input type="text" style="width: 400px;" class="layui-input" name="print" id="print" value="{volist name="arrWork" length='1' id="vo"}{$vo.print_starttime} 到 {$vo.print_endtime}{/volist}" placeholder="开始 到 结束">
                <div class="layui-form-mid layui-word-aux">打印准考证时间必须大于缴费截止时间</div>

            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">考试日期：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="exam_time" id="exam_time" value="{volist name='arrWork' length='1' id='vo'}{$vo.exam_time}{/volist}" placeholder="请选择时间">
                <div class="layui-form-mid layui-word-aux">考试日期必须大于打印准考证时间</div>
            </div>
        </div>
    </div>


    {volist name="arrWork" length='1' id="voo"}
    {if $voo.status == 2}
    <div class="layui-form-item" style="display: none;">
        <label class="layui-form-label">工种类型：</label>
        <div class="layui-input-block">
            <select name="work_type" id="work_type" lay-filter="work_type">
                <option value="">请选择工种类型</option>
                {volist name="workType" id="vo"}
                <option value="{$vo.id}" {volist name="arrWork" length='1' id="v"}{if($v.wtid==$vo.id)} selected {/if}{/volist}>{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    {else}
    <div class="layui-form-item" style="display: none;">
        <label class="layui-form-label">工种类型：</label>
        <div class="layui-input-block">
            <input type="hidden" name="work_type" value="{volist name='workType' id='vo'}{volist name='arrWork' length='1' id='v'}{if($v.wtid==$vo.id)}{$vo.id}{/if}{/volist}{/volist}">
            <input type="text" autocomplete="off" class="layui-input" value="{volist name='workType' id='vo'}{volist name='arrWork' length='1' id='v'}{if($v.wtid==$vo.id)}{$vo.name}{/if}{/volist}{/volist}" disabled >
        </div>
    </div>
    {/if}
    {/volist}
    <input type="hidden" name="pagetpye" value="{$pagetpye}">

    <div class="layui-form-item"  style="display: none;" id="{volist name='arrWork' length='1' id='vo'}{if $vo.status == 2}work{/if}{/volist}">
        <label class="layui-form-label">工种：</label>
        <div class="layui-input-block">
            {volist name="work" id="v"}

            <input type="checkbox" lay-filter="work"{volist name="arrWork" id="voo"} {if $voo.wid==$v.id}checked{/if}{/volist} value="{$v.id}" {if $voo.status == 1}disabled{/if} name="work[]" title="{$v.name}">

            {/volist}
        </div>
        <div class="layui-form-mid layui-word-aux" style="display: none;">若想重新选择工种 请先选择工种类型</div>

    </div>

    <div class="layui-form-item" id="level" style="display: none;">
        <label class="layui-form-label">级别：</label>
        <div class="layui-input-block">
            {volist name="arrWork" id="v"}
            {$v.workname}
            {notempty name="$v['level']"}
            {volist name="$v['level']" id="vo"}
                <input type="checkbox" value="{$i}" {if $v.status == 1}disabled{/if} name="level[{$v.wid}][]" checked title="
                {switch name='i' }
                {case value='1'}高级技师{/case}
                {case value='2'}技师{/case}
                {case value='3'}高级{/case}
                {case value='4'}中级{/case}
                {case value='5'}初级{/case}
                {default /}其他
                {/switch}
                " >
                {/volist}
            {else}
                无级别
            {/notempty}
            <br>
            {/volist}
            <div class="layui-form-mid layui-word-aux">若想重新选择级别 请先选择工种</div>
        </div>
    </div>



    <div class="layui-form-item" id="oldwork">


        <input type="hidden" value="{volist name="arrWork" id="v"}{$v.wid},{/volist}" name="oldwork" title="{$v.workname}">

    </div>
    <input type="hidden" name="id" value="{volist name="arrWork" length='1' id="v"}{$v.id}{/volist}">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="addorganize" lay-submit lay-filter="formSubmit">立即修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{/extend}
{block name="script"}
<script>



    layui.use(['laydate','jquery'], function(){
        var laydate = layui.laydate;
        var myDate = new Date();//获取系统当前时间
        var laydate = layui.laydate;
        var myDate = new Date();//获取系统当前时间

        //报名时间
        var enroll = laydate.render({
            elem: '#enroll'
            ,type: 'datetime'
            // ,min: myDate.toLocaleDateString()
            ,range: '到'
            ,format: 'yyyy-MM-dd HH:mm:ss'
            ,done: function(value, date, endDate){
                audit_endtime.config.min = endDate;
                audit_endtime.config.min.month = endDate.month -1;
                audit_endtime.config.min.date = endDate.date +1;
            }
        });

        //审核截止时间
        var audit_endtime = laydate.render({
            elem: '#audit_endtime'
            ,type: 'datetime'
            // ,min: myDate.toLocaleDateString()
            ,done: function(value, date, endDate){
                pay_endtime.config.min = date;
                pay_endtime.config.min.month = date.month -1;
                pay_endtime.config.min.date = date.date +1;
            }
        });

        //缴费截止时间
        var pay_endtime = laydate.render({
            elem: '#pay_endtime'
            ,type: 'datetime'
            // ,min: myDate.toLocaleDateString()
            ,format: 'yyyy-MM-dd HH:mm:ss'
            ,done: function(value, date, endDate){
                print.config.min = date;
                print.config.min.month = date.month -1;
                print.config.min.date = date.date +1;
            }
        });
        //打印准考证时间
        var print = laydate.render({
            elem: '#print'
            ,type: 'datetime'
            // ,min: myDate.toLocaleDateString()
            ,range: '到'
            ,format: 'yyyy-MM-dd HH:mm:ss'
            ,done: function(value, date, endDate){
                exam_time.config.min = endDate;
                exam_time.config.min.month = endDate.month -1;
                exam_time.config.min.date = endDate.date +1;
            }
        });

        //考试日期
        var exam_time = laydate.render({
            elem: '#exam_time'
            ,type: 'date'
            ,min: myDate.toLocaleDateString()
        });
    });


    layui.use(['form', 'layer','jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        //获取工种
        form.on('select(work_type)', function(data){
            var work_type = data.value;
            // alert(work_type);
            $.ajax({
                url:urladdr.selWorkByWorkType,
                type:'post',
                dataType:'json',
                data:{
                    work_type:work_type,
                },
                success:function (data) {
                    if (data.code==1){
                        $("#work").html("");
                        $("#level").html("");
                        //获取 work 标签
                        var work = document.getElementById ("work");
                        //创建label div
                        var label = document.createElement("label");
                        var div = document.createElement("div");
                        //给标签设置属性
                        label.setAttribute('class',"layui-form-label");
                        div.setAttribute('class',"layui-input-block");
                        label.innerText = '工种：';

                        //插入标签
                        work.append(label);
                        work.append(div);

                        for (var i=0;i<data.data.length;i++){
                            var input = document.createElement("input");
                            input.value = data.data[i]['id'];
                            input.setAttribute('type',"checkbox");
                            input.setAttribute('name',"work[]");
                            input.setAttribute('title',data.data[i]['name']);
                            div.append(input);
                            form.render();
                        }
                    }else{
                        $("#work[]").html("");
                        form.render();
                        layer.msg(data.msg)
                    }
                }
            });
            //防止页面跳转
            return false;
        });


        form.on('checkbox(work)', function(data){
            var work = $("input[name='work[]']").is(':checked');
            var pagetpye = $("input[name='pagetpye']").val();
            //获取checkbox[name='like']的值
            var arr = new Array();
            var arrs = new Array();
            var arrlevel = new Array();
            $("input:checkbox[name='work[]']:checked").each(function(i){
                arr[i] = $(this).val();
                arrs[i] = $(this).attr("title");
            });
            var like = arr.join(",");//将数组合并成字符串
            like = like.split(",");
            var likes = arrs.join(",");//将数组合并成字符串
            likes = likes.split(",");
            $("input:checkbox[name='level[]']:checked").each(function(i){
                arrlevel[i] = $(this).val();
            });
            $.ajax({
                url:urladdr.selWorkWorkLevel,
                type:'post',
                dataType:'json',
                data:{
                    work_id:like,
                    pagetpye:pagetpye,
                },
                success:function (data) {
                    var rst = {};
                    for (var i = 0; i < like.length; i++) rst[like[i]] = likes[i];
                    if (work){
                        $("#level").html("");
                        var level = document.getElementById ("level");
                        //创建label div
                        var labels = document.createElement("label");
                        var divs = document.createElement("div");
                        //给标签设置属性
                        labels.setAttribute('class',"layui-form-label");
                        divs.setAttribute('class',"layui-input-block");
                        labels.innerText = '级别：';

                        //插入标签
                        level.append(labels);
                        level.append(divs);

                        // $.each(rst,function(i,item){

                            var arr = new Array('',"高级技师","技师","高级","中级","初级");
                            $.each(data.data,function (j,v) {
                                var labela = document.createElement("label");
                                labela.innerText = " \n " + rst[j] + " ：";
                                divs.appendChild(labela);
                                $.each(v,function (k,val) {
                                    // console.log(val);
                                    var inputs = document.createElement("input");
                                    inputs.setAttribute('type', "checkbox");
                                    inputs.setAttribute('name', "level[" + j + "][]");
                                    inputs.setAttribute('data-value', val);
                                    inputs.setAttribute('class', "levels");
                                    inputs.setAttribute('title', arr[val]);
                                    divs.appendChild(inputs);

                                });
                            });
                            // return false;
                            // for (var j=0; j<arr.length; j++) {
                            //     var inputs = document.createElement("input");
                            //     inputs.value = j+1;
                            //     inputs.setAttribute('type', "checkbox");
                            //     inputs.setAttribute('name', "level[" + i + "][]");
                            //     inputs.setAttribute('data-value', i);
                            //     inputs.setAttribute('class', "levels");
                            //     inputs.setAttribute('title', arr[j]);
                            //     divs.appendChild(inputs);
                            // }
                        // });
                        form.render();
                    }else{
                        $("#level").html("");
                    }
                }
            });
            // return false;



        });

        //添加表单监听事件
        form.on('submit(formSubmit)', function (data) {
            data=data.field;
            if (!$("input[name='title']").val()) {
                layer.msg("标题必填");
                return false;
            }

            if (!$("input[name='enroll']").val()) {
                layer.msg("报名时间必选");
                return false;
            }

            if (!$("input[name='audit_endtime']").val()) {
                layer.msg("审核截止时间必选");
                return false;
            }

            if (!$("input[name='pay_endtime']").val()) {
                layer.msg("缴费截止时间必选");
                return false;
            }

            if (!$("input[name='print']").val()) {
                layer.msg("打印准考证时间必选");
                return false;
            }

            if (!$("input[name='exam_time']").val()) {
                layer.msg("考试时间必选");
                return false;
            }

            if (!$("input[type='checkbox']").is(":checked")) {
                layer.msg("工种必选");
                return false;
            }
            var status = $("#status").val();
            if (status == "" || status=="undefined"){
                data.status = 2;
            }else{
                data.status = status;
            }



            $.ajax({
                url:urladdr.updateExamPlan,
                type:'post',
                data:data,
                dataType:'json',
                success:function (data) {
                    // console.log(data);
                    // return false;
                    if (data.code==1){
                        layer.msg(data.msg,{
                            icon: 1,//提示的样式
                            time:  2000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
                            end: function () {
                                //当你在iframe页面关闭自身时
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                                parent.location.reload();
                            }
                        });
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
            //防止页面跳转
            return false;
        });

    })



</script>
{/block}
