{extend name="common@layout/layout" /}
{block name="title"}职业工种分类管理{/block}
{block name='crumbs'}
<span class="layui-breadcrumb" lay-separator="">
  <a href="/admin" class="county">
    <i class="layui-icon layui-icon-home"></i>
    &nbsp;首页
  </a>
  <a><cite>分类管理</cite></a>
</span>
{/block}
{block name="content"}
<div class="layui-tab-content">
    <table class="layui-table" lay-even>
        <colgroup>
            <col width="10">
            <col>
            <col>
            <col width="100">
            <col width="190">
        </colgroup>
        <thead>
        <tr>
            <th></th>
            <th>工种分类</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='list' id='vo'}
        <tr>
            <td>{$i}</td>
            <td>{$vo.name}</td>
            <td>{$vo.create_time}</td>
            <td>{$vo.status}</td>
            <td>
                <button data-value="{$vo.id}" class="layui-btn layui-btn-danger layui-btn-xs work-delete">删除</button>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
{/block}

{block name='script'}
<script>
    layui.use('layer', function () {
        //删除
        $('.work-delete').on('click', function () {
            id = $(this).data('value');
            layer.confirm('是否确认该操作？', {btn: ['确定', '取消'], title: "提示"}, function () {
                $.post(urladdr.deleteWorkType, {'id': id}, function (res) {
                    if (res.code === 1) {
                        layer.msg(res.msg, {time: 500, icon: 1}, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg(res.msg, {icon: 5});
                    }
                });
            });
        });
    });
</script>
{/block}