{extend name="layout"}
{block name="title"}{/block}
{block name="css"}
{/block}
{block name="content"}
<div class="layui-card">
    <form class="layui-form" action="" lay-filter="component-form-group">
        <div class="layui-card-header">在线组卷 > 选题方向</div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label">工种：</label>
                <div class="layui-input-block">
                    <select name="work" id="work" lay-filter="work">
                        <option value="">请选择工种</option>
                        {volist name="work" id="vo"}
                        <option value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">方向：</label>
                <div class="layui-input-block">
                    <select name="direction" id="direction" lay-filter="direction">
                        <option value="">请选择方向</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">级别：</label>
                <div class="layui-input-block">
                    <select name="level" id="level" lay-filter="level">
                        <option value="">请选择级别</option>
                        <option value="1">高级技师</option>
                        <option value="2">技师</option>
                        <option value="3">高级</option>
                        <option value="4">中级</option>
                        <option value="5">初级</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">归属题库：</label>
                <div class="layui-input-block b">
                    <input type="radio" name="range" value="1" title="正规题库" checked><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>正规题库</div></div>
                    <input type="radio" name="range" value="2" title="作业题库"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>作业题库</div></div>
                    <input type="radio" name="range" value="3" title="模拟题库"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>模拟题库</div></div>
                </div>
            </div>

        </div>
        <div class="layui-input-block" style="margin-left: 974px;">
            <button type="submit" class="layui-btn layui-carousel-right" lay-submit lay-filter="formSubmit">下一步</button>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['form', 'layer', 'jquery'], function () {
        var form = layui.form, $ = layui.jquery;

        //根据工种展示方向
        form.on('select(work)', function(data){
            var work_type = data.value;

            $.ajax({
                url:'/api/workDirection/selectWorkId',
                type:'post',
                dataType:'json',
                data:{
                    id:work_type,
                },
                success:function (data) {

                    if (data.code==1){
                        //1.清空已设置标签
                        $("#direction").html("");
                        //2.获取select标签
                        var work = document.getElementById ("direction");
                        for(var i in data.data) {
                            //3.创建option标签
                            var option = document.createElement("option");
                            //4.设置option属性，值
                            option.value = data.data[i]['id'];
                            option.innerText = data.data[i]['name'];
                            //5.select内部插入option
                            work.append(option);
                            //6.渲染标签
                            form.render();
                        }
                    }else{
                        $("#direction").html("");
                        form.render();
                        layer.msg(data.msg)
                    }
                }
            });
            //防止页面跳转
            return false;
        });

        //添加表单监听事件
        form.on('submit(formSubmit)', function (data) {
            data=data.field;

            //验证规则
            if (data.work == '') {
                layer.msg('请至少选择一个工种!');
                return false;
            }
            if (data.level == '') {
                layer.msg('请至少选择一个级别!');
                return false;
            }

            $.ajax({
                url:'/api/LearningSetVolume/selectLevel',
                type:'post',
                data:data,
                dataType:'json',
                success:function (data) {

                    if (data.code==1){
                        window.parent.location.href='/learning/set_volume/index?work=' + encodeURI(data.data.work_name) + '&level='+ encodeURI(data.data.level_name)+ '&direction='+ encodeURI(data.data.direction_name)+ '&range='+ encodeURI(data.data.range) +
                            '&work_id='+ data.data.work_id  + '&level_id='+ data.data.level_id +  '&direction_id='+ data.data.direction_id + '&range_id='+ data.data.range_id;
                        return false;
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
            //防止页面跳转
            return false;
        });
    });
</script>
{/block}
