{extend name="layout"}
{block name="title"}试卷列表{/block}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form">
                <div class="layui-form-item">
                    <form action="/learning/set_volume/show" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">搜索条件</label>
                            <div class="layui-input-block">
                                <div class="layui-inline">
                                    <select name="work" id="work" lay-filter="work">
                                        <option value="">请选择工种</option>
                                        {volist name="work" id="vo"}
                                        <option {notempty name="search.work"} {if condition="$search.work == $vo.id"} selected="selected" {/if} {/notempty} value="{$vo.id}">{$vo.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="layui-inline">
                                    <select name="direction" id="direction" lay-filter="direction">
                                        <option value="">请选择方向</option>
                                        {volist name="direction" id="vo"}
                                        <option {notempty name="search.direction"} {if condition="$search.direction == $vo.id"} selected="selected" {/if} {/notempty} value="{$vo.id}">{$vo.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="layui-inline">
                                    <select name="level" id="level" lay-filter="level">
                                        <option value="">请选择级别</option>
                                        <option {notempty name="search.level"} {if condition="$search.level == 1"} selected="selected" {/if} {/notempty} value="1">高级技师</option>
                                        <option {notempty name="search.level"} {if condition="$search.level == 2"} selected="selected" {/if} {/notempty} value="2">技师</option>
                                        <option {notempty name="search.level"} {if condition="$search.level == 3"} selected="selected" {/if} {/notempty} value="3">高级</option>
                                        <option {notempty name="search.level"} {if condition="$search.level == 4"} selected="selected" {/if} {/notempty} value="4">中级</option>
                                        <option {notempty name="search.level"} {if condition="$search.level == 5"} selected="selected" {/if} {/notempty} value="5">初级</option>
                                    </select>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn" lay-submit>搜索</button>
                                    <button class="layui-btn layui-btn-danger volume">组卷</button>
                                    <button class="layui-btn layui-btn-danger oneChone">选择组卷</button>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th width="5%"></th>
                    <th>工种</th>
                    <th>级别</th>
                    <th>方向</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="data" id="vo"}
                <tr>
                    <td>{$i}</td>
                    <td>{$vo.work_name}</td>
                    <td>{$vo->level_id}</td>
                    <td>{$vo.work_direction_name}</td>
                    <td>{$vo.create_time}</td>
                    <td>
                        <button data-value="{$vo.id}" class="layui-btn layui-btn-xs select details">详情</button>
                        <button data-value="{$vo.id}" data-name="{$vo.work_name}-{$vo->level_id}-{$vo.work_name}" class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            {if condition="count($data)<=0"}
            <div style="margin: 0 auto;width: 120px;font-size: 20px;">
                <div class="layui-form-mid layui-word-aux">暂无数据！</div>
                {else/}
                <div class="layui-fluid tp-pages">
                    {$data->render()}
                </div>
                {/if}
        </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">

    layui.use(['form', 'layer','jquery'], function () {
        var form  = layui.form, $  = layui.jquery;

        //根据工种展示方向
        form.on('select(work)', function(data){
            var work_type = data.value;

            $.ajax({
                url:'/api/workDirection/selectWorkId',
                type:'post',
                dataType:'json',
                data:{
                    id:work_type,
                },
                success:function (data) {

                    if (data.code==1){
                        //1.清空已设置标签
                        $("#direction").html("");
                        //2.获取select标签
                        var work = document.getElementById ("direction");
                        for (var i=0;i<data.data.length;i++){
                            //3.创建option标签
                            var option = document.createElement("option");
                            //4.设置option属性，值
                            option.value = data.data[i]['id'];
                            option.innerText = data.data[i]['name'];
                            //5.select内部插入option
                            work.append(option);
                            //6.渲染标签
                            form.render();
                        }
                    }else{
                        $("#direction").html("");
                        form.render();
                        layer.msg(data.msg)
                    }
                }
            });
            //防止页面跳转
            return false;
        });

        //一键组卷
        $(".volume").click(function () {
            layer.open({
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                area: ['1000px', '90%'], //宽高
                title: "模考组卷",
                content: "/learning/topic/volume",  //调到新增页面
                yes: function(index, layero){
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }

            });
            return false;
        });
        //选择组卷
        $(".oneChone").click(function () {
            layer.open({
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                area: ['1000px', '90%'], //宽高
                title: "选择组卷",
                content: "/learning/topic/oneChone",  //调到新增页面
                yes: function(index){
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
            return false;
        });
        //删除
        $(".demo-delete").click(function () {
            var $=layui.jquery,id = $(this).data('value'),name = $(this).data('name');
            layer.open({
                title: ['温馨提示'],
                content: '确定要删除: <span style="color: red;">'+ name +'</span>的试卷吗？',
                btn: ['确定', '取消'],
                shadeClose: true,
                yes: function(index, layero){
                    $.ajax({
                        url:'/api/LearningSetVolume/delete',
                        type:'post',
                        dataType:'json',
                        data:{
                            id:id,
                        },
                        success:function (data) {
                            if (data.status==1){
                                layer.msg(data.msg, {
                                    icon: 1,
                                    time: 1000,
                                    end: function () {
                                        location.reload();
                                    }
                                })
                            }else{
                                layer.msg(data.msg)
                            }
                        }
                    });
                    return false;
                },
                btn2: function(index, layero){
                    layer.close(index);
                },
                cancel: function(index,layero){
                    layer.close(index);
                },

            });
        });
        //试卷详情页
        $(".details").click(function () {
            var $=layui.jquery,id = $(this).data('value');

            layer.open({
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                area: ['1000px', '90%'], //宽高
                title: "选项题",
                content: "/learning/set_volume/details?id=" + id,  //调到新增页面
                yes: function(index, layero){
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }

            });
        });
        //重置按钮
        $(".reset").click(function () {
            $.each($('form input'),function (index,item) {
                $(item).val('');
            });
            return false;
        });
    });


</script>
{/block}