{include file='content/daohang'}
<div class="RetrievePassword_main">
    <div class="layui-container">
        <ul class="subnav_process">
            <li class="active">
                <div>
                    <i>1</i>
                    <p>填写帐号</p>
                </div>
                <i></i>
            </li>
            <li class="active">
                <div>
                    <i>2</i>
                    <p>设置新密码</p>
                </div>
                <i></i>
            </li>
            <li class="active">
                <div>
                    <i>3</i>
                    <p>完成</p>
                </div>

            </li>
        </ul>
    </div>
    <div class="RetrievePassword3_main">
        <div style="height: 60px;"><span class="succeed"></span><span class="succeed_txt">恭喜你重置密码成功</span></div>
        <a href="/cms/index/login"><div class="denglu_btn go_login">去登陆</div></a>
    </div>
</div>

<footer class="footer">
    <img class="quanwei" src="__PUBLIC__/layui/img/quanwei.png" />
    <p>主办单位：江西省职业技能鉴定指导中心 技术支持：博奥网络教育科技股份有限公司</p>
    <p>网上支持（职业资格问答） 　　您是第 9027267 位访问者</p>
</footer>
</body>

</html>

<script src="__PUBLIC__/layui/js/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/layui/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

</script>

