{extend name="common@layout/layout" /}
{block name="title"}角色管理{/block}

{block name='css'}
<style>
    .lhj-content {
        width: 23%;
        float: left;
        padding: 10px 0 10px 10px;
    }

    .lhj-content a {
        width: 100%;
    }
</style>
{/block}
{block name='crumbs'}
<span class="layui-breadcrumb" lay-separator="">
  <a href="/admin" class="county">
    <i class="layui-icon layui-icon-home"></i>
    &nbsp;首页
  </a>
  <a><cite>省科室</cite></a>
</span>
{/block}
{block name="content"}
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">当前</li>
        <li>市列表</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="layui-form layui-card-header layui-inline" style="padding-bottom: 10px;">
                <form action="{:request()->baseurl()}" method="post">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">角色名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" autocomplete="off" placeholder="请输入"
                                       value="{$Think.session.search.name}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit>
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <button class="layui-btn role-add" data-value="{$cityId}" style="float: right;margin-bottom: 5px;">创建角色
            </button>
            <table class="layui-table" lay-even>
                <colgroup>
                    <col width="5%">
                    <col>
                    <col>
                    <col>
                    <col width="140">
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th>角色名称</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td>{$i}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.create_time}</td>
                    <td>{$vo.status}</td>
                    <td>
                        {if $vo.dataStatus==1}
                        <button data-value="{$vo.id}" data-status="0"
                                class="layui-btn layui-btn-danger layui-btn-xs role-status">禁用
                        </button>
                        {else}
                        <button data-value="{$vo.id}" data-status="1" class="layui-btn layui-btn-xs role-status">启用
                        </button>
                        {/if}
                        <button data-value="{$vo.id}" class="layui-btn layui-btn-normal layui-btn-xs role-edit">修改权限
                        </button>
                    </td>
                </tr>
                {/volist}

                </tbody>
            </table>
            <div class="layui-fluid tp-pages">
                {$list->render()}
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="layui-tab-item">
            <fieldset class="layui-elem-field layui-field-title site-title">
                <legend><a name="grid">请选择对哪个市进行操作</a></legend>
            </fieldset>
            <div class="city-list layui-row layui-col-space15"></div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    layui.use(['layer', 'form'], function () {
        var $ = layui.jquery;
        //市列表
        $.ajax({
            type: "POST",
            url: "/api/office/citylist",
            dataType: "json",
            success: function (data) {
                var html = '';
                $.each(data, function (commentIndex, comment) {
                    html += '<div class="lhj-content layui-col-md3"><a href="/admin/role/city/cityId/' + comment['id'] + '" class="layui-btn">' + comment['name'] + '</a></div>';
                });
                $('.city-list').html(html);
            }
        });

        //禁用
        $('.role-status').on('click', function () {
            var id = $(this).data('value'), status = $(this).data('status');
            layer.confirm('是否确认该操作？', {btn: ['确定', '取消'], title: "提示"}, function () {
                $.post(urladdr.roleDisable, {'roleId': id, 'status': status}, function (res) {
                    if (res.code === 1) {
                        layer.msg(res.msg, {time: 500, icon: 1}, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg(res.msg, {icon: 5});
                    }
                });
            });
        });
        //修改
        $(".role-edit").click(function () {
            var id = $(this).data('value');
            layer.open({
                type: 2,
                anim: 1,
                skin: 'layui-layer-molv',
                area: ['90%', '80%'], //宽高
                title: "修改权限",
                content: urladdr.editRole + id,  //调到新增页面
            });
        });
        //添加
        $(".role-add").click(function () {
            var id = $(this).data('value');
            layer.open({
                type: 2,
                anim: 1,
                skin: 'layui-layer-molv',
                area: ['90%', '80%'], //宽高
                title: "创建角色",
                content: urladdr.addRloe + id,  //调到新增页面
            });
        });
    });
</script>
{/block}