{extend name="common@layout/layout" /}
{block name="title"}管理中心{/block}
{block name="content"}


{block name="css"}
<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
{/block}
{block name='crumbs'}
<span class="layui-breadcrumb">
  <a href="/admin" class="county">
    <i class="layui-icon layui-icon-home"></i>
    &nbsp;首页
  </a>
     <a><cite>网页栏目管理</cite></a>
  <a><cite>服务功能

  </cite></a>

</span>
{/block}
{block name="content"}



            <div class="layui-form-item" style="margin-top: 16px;margin-left: 1%">
                <button class="layui-btn" id="addExamInfo">
                    <i class="layui-icon">&#xe608;</i> 添加
                </button>
                <!--<button class="layui-btn" id="addExamInfoLink">-->
                <!--<i class="layui-icon">&#xe608;</i> 添加联动-->
                <!--</button>-->
            </div>

        <div class="layui-card-body">
            <table class="layui-table">
                <colgroup>
                    <col width="5%">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col width="340">
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th>功能标题</th>
                    <th>所属服务</th>
                    <th>图标</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name='data' id='v'}
                <tr>
                    <td>{$i}</td>
                    <td class="title{$v.id}">{$v.name}</td>
                    {if $v.serve_id==0} <td></td>{else}<td>{$info[$v.serve_id]}</td>{/if}
                    <td><img src="{$v.log_url}" alt=""></td>
                    <td>{$v.create_time}</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-xs edit" value="{$v.id}"><i class="layui-icon"></i></button>
                        <button class="layui-btn layui-btn-danger layui-btn-xs delete" value="{$v.id}"><i class="layui-icon"></i></button>

                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>

        <div class="layui-fluid tp-pages">
            {$data->render()}
        </div>
        </div>
{/block}

{block name="script"}


<script type="text/javascript">


    //添加栏目信息
    layui.use(['form', 'layer','jquery'], function () {
        var form  = layui.form;
        var $  = layui.jquery;
        $("#addExamInfo").click(function () {
            layer.open({
                type: 2,
                anim:1,
                skin: 'layui-layer-molv',  //加上边框
                area: ['40%', '60%'], //宽高
                title: "添加功能信息",
                content: "/cms/change/addFuServe",  //调到新增页面
                yes: function(index, layero){
                    //do something
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
        });
    });

    //删除报考信息
    layui.use(['form', 'layer','jquery'], function () {
        var layer = layui.layer;
        var $  = layui.jquery;
        $(".delete").click(function () {
            var id = $(this).val();
            var title = $('.title'+id).text();
            layer.confirm(title+"确认删除吗?", function () {
                $.ajax({
                    url: "/api/CmsFuServe/fuServeDelete",
                    data: {'id': id},
                    type: "post",
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg);
                            location.reload();
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                })
            })
        });
    });

    //修改栏目信息
    layui.use(['form', 'layer','jquery'], function () {
        var form  = layui.form;
        var $  = layui.jquery;
        $(".edit").click(function () {
            var id = $(this).val();
            layer.open({
                type: 2,
                anim:1,
                skin: 'layui-layer-molv',  //加上边框
                area: ['40%', '60%'], //宽高
                title: "修改报考信息",
                content: "/cms/change/fuSerUpdate?id="+id,  //调到新增页面
                yes: function(index, layero){
                    //do something
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
        });
    });

    layui.use(['form', 'layer','jquery'], function () {
        var layer = layui.layer;
        var $  = layui.jquery;
        $(".dir-disable").click(function () {
            var id = $(this).parents('tr').find('td').eq(0).html();
            var status = $(this).data('value');
            console.log(status);console.log(id);
            layer.confirm("确认更改?", function () {
                $.ajax({
                    url: "serve",
                    data: {'id': id,'status':status},
                    type: "post",
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == 1) {
                            layer.msg(data.msg);
                            location.reload();
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                })
            })
        });
    });


</script>
{/block}
