{block name="css"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cms1.0.css" />
{/block}
<div class="layui-col-xs5">
    <div class="jieshao xuanxiang">
        <div class="jieshao_header">
            <span class="jieshao_header_left">网上服务</span>
        </div>
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                {volist name='data' id='v' key='kk'}
                <li {eq name='kk' value="1" }class="layui-this" {/eq}>{$v.title}</li>
               {/volist}

            </ul>

            <div class="layui-tab-content" style="height: 350px;">
                {volist name='infos' id='vv' key='k'}
                <div class="layui-tab-item " {if($k="1")} style="display: none"{/if}>
                    {volist name='vv' id='v1'}
                    <a href="{$v1.url}">
                            <div class="jd_btn2"><span><img src="{$v1.log_url}"/></span>{$v1.name}</div>
                    </a>
                {/volist}
                </div>


                {/volist}
            </div>

        </div>

    </div>
</div>
<script src="__PUBLIC__/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>