{block name='Slideshow'}

<link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cms1.0.css" />
<nav>
<div class="layui-container">
    <ul class="nav">
        <li>
            <a href="#">首页</a>
        </li><span>|</span>
        {volist name='data' id='v'}
        <li>
            <a href="/cms/index/category">{$v.guide_name}</a>
        </li><span>|</span>
        {/volist}

        <li>
            <a href="/cms/index/category">更多模块</a>
        </li>
    </ul>
</div>
    </nav>

{/block}