{include file="content/daohang"}
<style type="text/css">
	.wid120{width: 1200px;margin: auto;}
	.cfbox{
			width: 750px;
			height: 532px;
			background: url(__PUBLIC__/layui/zhengshu/img/zhengshubg.png) no-repeat;
			margin: 20px auto;
		}
		.cfbox_main{position: absolute;width: 750px;height: 532px;}
		.cfposion{position: absolute;display: inline-block;text-align: center;color: #555;font-weight: 700;font-size: 18px;}
		.imgs{width: 100px;height: 130px; top: 60px;left: 150px;}
		.imgs img{width: 100%;height: 100%;}
		.name{top: 226px;left: 85px;width: 120px;}
		.sex{top: 226px;left: 260px;}
		.year{top: 285px;left: 123px;}
		.month{top:285px;left:226px}
		.day{top:285px;left: 290px;}
		.number{top: 342px;left: 123px;}
		.idnumber{top:402px;left: 123px;}
	    .idnumberid_card{top:402px;left: 234px;}
		.zhang_left{width: 130px;height: 130px; bottom: 20px;left: 200px;}
		.zhang_left img,.zhang_right img{width: 100%;height: 100%;}
		.zhang_right{width: 130px;height: 130px; bottom: 70px;right: 50px;}
		.level{top: 75px;right: 90px;}
		.grade1{top:145px;right: 95px;}
		.grade2{top:207px;right: 125px;}
		.grade3{top:267px;right: 116px;}
		.grade4{top:327px;right: 172px;}
		.year2{bottom: 100px;right: 275px;}
		.month2{bottom:100px;right:226px}
		.day2{bottom:100px;right: 165px;}
</style>

		<div class="">
			<div class="JiGouLC wid120">
					<h2 class="JiGouLC_title">证书查询</h2>

				</div>
			{volist name="datas" id="data"}
			<div class="cfbox">
				<div class="cfbox_main">
					<div class="imgs cfposion">
						<img src="{$data.avatar}"/>
					</div>
					<span class="name cfposion">{$data['username']}</span>
					<span class="sex cfposion">{$data.gender}</span>
					<span class="year cfposion">{$data['birthday']|mb_substr=0,4,'utf-8'}</span>
					<span class="month cfposion">{$data['birthday']|mb_substr=5,2,'utf-8'}</span>
					<span class="day cfposion">{$data['birthday']|mb_substr=8,2,'utf-8'}</span>
					<span class="number cfposion">{$data.certificate_no}</span>
					<span class="idnumber cfposion">{$data.type}</span>
					<span class="idnumberid_card cfposion">{$data.id_no}</span>
					<div class="zhang_left cfposion">
						<img src="__PUBLIC__/layui/zhengshu/img/zhang_left.png"/>
					</div>
					<span class="level cfposion">{$data.work}   {$data->current_level}</span>
					<span class="grade1 cfposion">{$data.theory_score>config('applyStatus.theory_score')?config('applyStatus.pass'):config('applyStatus.nopass')}</span>
					<span class="grade2 cfposion">{$data.watch_score> config('applyStatus.watch_score')?config('applyStatus.pass'):config('applyStatus.nopass')}</span>
					<span class="grade3 cfposion">{$data.synthesize_score>config('applyStatus.synthesize_score')?config('applyStatus.pass'):config('applyStatus.nopass')}</span>
					<span class="grade4 cfposion">合格</span>
					<div class="zhang_right cfposion">
						<img src="__PUBLIC__/layui/zhengshu/img/zhang_right.png"/>
					</div>
					<span class="year2 cfposion">{$data['create_time']|mb_substr=0,4,'utf-8'}</span>

					<span class="month2 cfposion">{$data['create_time']|mb_substr=5,2,'utf-8'}</span>
					<span class="day2 cfposion">{$data['create_time']|mb_substr=8,2,'utf-8'}</span>
				</div>
			</div>
			{/volist}
		</div>
	{include file="content/foot"}
	</body>

</html>

<script src="__PUBLIC__/layui/layui.js"></script>

<script type="text/javascript">
	layui.use(['form', 'layer','jquery'], function () {
		var form  = layui.form;
		var $  = layui.jquery;

		form.on('submit(sub)',function (data) {
			var data = data.field;
			$.ajax({
				url:'/api/Certificate/certloginAction',
				type:'post',
				data:data,
				dataType:'json',
				//判断注册状态
				success:function (data) {
					if (data.code == 1){
						layer.msg(data.msg, {
							icon: 1,//提示的样式
							time: 2000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
							end: function () {
								location.href = '/examinee/Certinquire/index';
							}
						});
					}else{
						layer.msg(data.msg,{icon:5});
					}
				},error:function (data) {
					layer.msg(data.msg);
				}
			});
			//防止页面跳转
			return false;
		});

		$(".checkOut").click(function () {
			layer.open({
				title: ['温馨提示'],
				content: '<div style="color:#767676">确定要退出当前账号吗？</div>',
				btn: ['确定', '取消'],
				shadeClose: true,
				//回调函数
				yes: function (index, layero) {
					// self.location='http://www.baidu.com';//立即退出
					$.ajax({
						url: '/api/Certificate/loginOut',
						dataType: 'json',
						//判断注册状态
						success: function (data) {
							if (data == 1) {
								layer.msg("退出成功", {
									icon: 1,//提示的样式
									time: 1000, //1秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
									end: function () {
										window.location.href = '/examinee/Indexcert/index';
									}
								})
							} else {
								layer.msg(data)
							}
						}
					});
					//防止页面跳转
					return false;
				},
				btn2: function (index, layero) {
					layer.close(index);
				},
				cancel: function (index, layero) { //按右上角“X”按钮
					layer.close(index);
				},

			});
		});
	});

</script>