{include file='content/daohang'}
    <style>
        .stars {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 32px;
            font-size: 15px;
            color: #f00;
        }
        .tishi{
            position: absolute;
            right: -237px;
            top: -10px;
            color: #6b6b6b;
            width: 246px;
        }
        .tishi p{height: 24px;line-height: 24px;}
        .tishi i{position: relative;top:4px;display: inline-block;height: 24px;width: 24px;background-size: 70% 70%;background-position:3px 7px;}
        .sussces{background: url(__PUBLIC__/layui/img/sussses.png) no-repeat;}
        .error{background: url(__PUBLIC__/layui/img/errors.png)no-repeat;}
        .kong{background: url(__PUBLIC__/layui/img/kong.png)no-repeat;}
    </style>

<div class="register_main layui-form">
    <div class="register_conent">
        <h2>请认真填写以下信息</h2>
        <div class="layui-form-item">
            <input type="hidden" name="signature" value="{$signature?$signature:''}" id="signature">
            <label class="layui-form-label">姓&nbsp;&nbsp;名：</label>
            <div class="layui-input-inline">
                <input type="text" id="username" value="{$signature?$signature:''}" name="username"   autocomplete="off" class="layui-input" disabled>
            </div><span class="stars">*</span>
            <div class="tishi">
                <p class="successs" ><i class="sussces" ></i>输入正确</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性&nbsp;&nbsp;别：</label>
            <div class="layui-input-inline">
                <input type="radio"  name="gender" value="男" title="男" checked>
                <input type="radio"  name="gender" value="女" title="女" >
            </div><span class="stars">*</span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">证件类型：</label>
            <div class="layui-input-inline">
                <select  name="id_type" id="id_type" lay-filter="id_type">
                    <option value="1" >身份证</option>
                    <option value="2" >护照</option>
                    <option value="3">军官证</option>
                    <option value="4" >港澳台证</option>
                    <option value="5" >其他</option>
                </select>
            </div><span class="stars">*</span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">证件号码：</label>
            <div class="layui-input-inline">
                <input type="text" name="id_no" id="id_no" required  lay-verify="required|id_no" placeholder="请输入证件号码" autocomplete="off" class="layui-input">
            </div><span class="stars">*</span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出生日期：</label>
            <div class="layui-input-inline">
                <input type="text" id="birthday" value="" name="birthday" required lay-verify="required" placeholder="请输入出生日期" autocomplete="off" class="layui-input">
            </div><span class="stars">*</span>
        </div>
        <div class="layui-form-item" style="position: relative;">
            <label class="layui-form-label">输入密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="password" id="password" required  lay-verify="required|password" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div><span class="stars">*</span>
            <div class="tishi">
                <p class="successs" hidden><i class="sussces" ></i>输入正确</p>
                <p class="errors" hidden><i class="error" ></i>请重新输入密码,长度为8-18位字符</p>
                <p class="kongs" hidden><i class="kong" ></i>不能为空</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="passwordRes" id="passwordRes" required lay-verify="passwordRes" autocomplete="off" placeholder="请确认密码"  class="layui-input">
            </div><span class="stars">*</span>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-inline">
                <input type="text" name="mobile" id="mobile" required  lay-verify="required" placeholder="请输入联系电话" autocomplete="off" class="layui-input" maxlength="11">
            </div><span class="stars">*</span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="    width: 84px; ">短信验证码：</label>
            <div class="layui-input-block">
                <input type="text" name="sms" lay-verify="required" autocomplete="off" placeholder="请获取验证码"
                       class="layui-input yzm_input" style="width: 147px;">
                <button id="getSms" class="layui-btn get-code">获取验证码</button>
            </div>
        </div>

        <div class="denglu_btn" lay-submit lay-filter="sub">注册</div>
    </div>
</div>
{include file='content/foot'}
</body>
</html>

<script src="__PUBLIC__/layui/js/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/layui/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['form', 'layer','jquery'], function () {
        var form = layui.form,
            $ = layui.jquery;
        form.render();
        var laydate = layui.laydate;
        $ = layui.jquery;
        form.render();
        laydate.render({
            elem: '#birthday'//指定元素
        });

        //验证姓名
//        $('#username').change(function() {
//            var reg = /^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$/;
//            if(!($('#username').val().match(reg))){
//                layer.msg('请输入姓名',{icon:5});
//                return false;
//            }
//            if( $('#username').val() != $('#signature').val()){
//                layer.msg('签名和用户名不一致,请重新填写用户名!',{icon:5});
//                return false;
//            }
//        });

        //验证密码
        $('#password').change(function() {
            var reg = /^[\S]{8,18}$/;
            if(!($('#password').val().match(reg))){
//                layer.msg('请重新输入密码,密码必须8到18位，且不能出现空格!',{icon:5});
                $('.errors').removeAttr('hidden');
                $('.kongs').removeAttr('hidden');
                $('.successs').attr('hidden','hidden');
                return false;
            }else{
                $('.successs').removeAttr('hidden');
                $('.errors').attr('hidden','hidden');
                $('.kongs').attr('hidden','hidden');
                $(".successs").css({'right':'222px','marginTop':'10px'});
//                $(this).nextAll(".stars").css('display','none');
            }
        });

        ////验证确认密码
        $('#passwordRes').change(function() {
            var pwd = $("input[name='password']").val();
            var passwordRes = $("input[name='passwordRes']").val();
            if (!(pwd == passwordRes)) {
                layer.msg('两次输入的密码不一致',{icon:5});
                return false;
            }
        });

        $('#birthday').focus(function () {
            var data=$("#id_type").val();
            var dataNo = $("#id_no").val();
            if(data == 1){
//               var dataSubstring =  dataNo.substring(6,14);
                var year = dataNo.substring(6,10);
                var mouse = dataNo.substring(10,12);
                var data = dataNo.substring(12,14);
                var dataSubstring = year+'-'+mouse+'-'+data;
                laydate.render({
                    elem: '#birthday'//指定元素
                    ,value: dataSubstring //必须遵循format参数设定的格式
                });
            }
        })


//        //验证证件号
        $('#id_no').change(function() {
            var data=$("#id_type").val();
            if(data=='1'){
                var reg =  /(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
                if(!($('#id_no').val().match(reg))){
                    layer.msg('请输入合法身份证!',{icon:5});
                }
            }else if(data=='2') {
                var reg = /^[A-Z][0-9]{8}$/;
                if (!($('#id_no').val().match(reg))) {
                    layer.msg('请输入合法护照!',{icon:5});
                }
            }else if(data=='3'){
                var reg = /^[\u4e00-\u9fa5]{2}[0-9]{6,8}$/;
                if(!($('#id_no').val().match(reg))){
                    layer.msg('请输入合法军官证!',{icon:5});
                }
            }else if(data=='4'){
                var reg = /^[A-Z][0-9]{8}$/;
                if(!($('#id_no').val().match(reg))){
                    layer.msg('请输入合法港澳通行证!',{icon:5});
                }
            }
            return false;
        });

        //为表单添加blur事件
//        $('#mobile').change(function () {
//            var reg = /^1[3456789]\d{9}$/;
//            if(!($('#mobile').val().match(reg))){
//                layer.msg('请输入合法手机号',{icon:5});
//                return false;
//            }
//            var  mobile = $('#mobile').val();
//            //ajax异步刷新
//            $.post("/api/UserLogin/checkUser",{mobile:mobile},function (data) {
//                if (data.code == -1){
//                    layer.msg(data.msg,{icon:5});
//                    return false;
//                }
//            });
//            return false;
//        });

        form.verify({
            //        //验证证件号
            id_no:function(value) {
                var data = $("#id_type").val();
                if(data=='1'){
                    var reg =  /(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
                    if(!($('#id_no').val().match(reg))){
                        return '请输入合法身份证';
                    }
                }else if(data=='2') {
                    var reg = /^[A-Z][0-9]{8}$/;
                    if (!($('#id_no').val().match(reg))) {
                        return '请输入合法护照';
                    }
                }else if(data=='3'){
                    var reg = /^[\u4e00-\u9fa5]{2}[0-9]{6,8}$/;
                    if(!($('#id_no').val().match(reg))){
                        return '请输入合法军官证';
                    }
                }else if(data=='4'){
                    var reg = /^[A-Z][0-9]{8}$/;
                    if(!($('#id_no').val().match(reg))){
                        return '请输入合法港澳通行证';
                    }
                }
            },


            //重复输入密码
            username: function (value) {
                var signature = $("input[name='signature']").val();
                if (!new RegExp(signature).test(value)) {
                    return '签名和用户名不一致,请重新填写用户名!';
                }
            },
            //密码格式
            password: [/^[\S]{8,18}$/, '请重新输入密码,密码必须8到18位，且不能出现空格!'],

            //重复输入密码
            passwordRes: function (value) {
                var password = $("input[name='password']").val();
                if (!new RegExp(password).test(value)) {
                    return '两次输入的密码不一致';
                }
            },
            mobile:function (value) {
                var reg = /^1[3456789]\d{9}$/;
                if(!($('#mobile').val().match(reg))){
                    return '请输入合法手机号';
                }
                var  mobile = $('#mobile').val();
                //ajax异步刷新
                $.post("/api/UserLogin/checkUser",{mobile:mobile},function (data) {
                    if (data.code == -1){
                        return data.msg;
                    }
                });
                return false;
            },
        });

        //发送验证码
        $('.get-code').on('click', function () {
            //手机号
            if ($.trim($("#mobile").val()) === '') {
                layer.msg('手机号码不能为空', {icon: 5});
                $("#mobile").addClass('layui-form-danger').trigger('focus');
                return false;
            } else {
                var pattern = /^1[3456789]\d{9}$/;
                if (pattern.test($.trim($("#mobile").val())) === false) {
                    layer.msg('手机号码格式不对', {icon: 5});
                    $("#mobile").addClass('layui-form-danger').trigger('focus');
                    return false;
                }
            }
            //发送代码,手机号,附加码
            $.post("/api/UserLogin/sendMsg", {
                mobile: $("#mobile").val(),
            }, function (data) {
                if (data.code > 0) {
                    icon = 1;

                    //----start-------
                    var countdown = 60;
                    var obj = $("#getSms");
                    settime(obj);

                    function settime(obj) { //发送验证码倒计时
                        if (countdown == 0) {
                            obj.attr('disabled', false).removeClass('layui-btn-disabled');
                            //obj.removeattr("disabled");
                            obj.html("获取验证码");
                            countdown = 60;
                            return;
                        } else {
                            obj.attr('disabled', true).addClass('layui-btn-disabled');
                            obj.html("重发(" + countdown + ")");
                            countdown--;
                        }
                        setTimeout(function () {
                                    settime(obj)
                                }
                                , 1000)
                    }

                } else {
                    icon = 5;
                    $("#mobile").addClass('layui-form-danger').trigger('focus');
                }
                layer.msg(data.msg, {icon: icon})
            });
            //阻止按钮提交
            return false;
        });

        //        //添加表单监听事件
        form.on('submit(sub)',function (data) {
            var data = data.field;
            $.ajax({
                url:'/api/UserLogin/sign',
                type:'post',
                data:data,
                dataType:'json',
                async:false,
                //判断注册状态
                success:function (data) {
                    if (data.code == 1){
                        layer.msg(data.msg,{
                            icon: 1,//提示的样式
                            time:  3000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
                            end: function () {
                                location.href = "/cms/index/studenlogin";
                            }
                        });
                    }else{
                        layer.msg(data.msg,{icon:5});
                        $("#mobile").addClass('layui-form-danger').trigger('focus');
                    }
                }
            });
            //防止页面跳转
            return false;
        });


    });

</script>