
<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="/static/css/cms1.0.css" />


    <div class="layui-col-xs7">
        <div class="tongzhi">
            <div class="jieshao_header">
                                <span class="jieshao_header_left" name="yao" value="8">要闻动态</span>
                                <span class="header_right"><a id="a" href="/cms/index/category?id=">更多<i class="layui-icon layui-icon-right"></i></a></span>
            </div>
                        <div name="yao8" >
            <ul>
                                <li>
                    <a href="/html/article//205.html" class="yaowan_txt2" title="省职鉴中心工会开展“不忘初心 永跟党走” 环青山湖竞走活动">省职鉴中心工会开展“不忘初心 永跟党走” 环青山湖竞走活动</a><span>2018-11-11</span>
                </li>
                                 <li>
                    <a href="/html/article//204.html" class="yaowan_txt2" title="省职鉴中心召开专题民主生活会">省职鉴中心召开专题民主生活会</a><span>2018-11-11</span>
                </li>
                                 <li>
                    <a href="/html/article//203.html" class="yaowan_txt2" title="全省职业技能鉴定管理人员政策业务培训班在南昌举办">全省职业技能鉴定管理人员政策业务培训班在南昌举办</a><span>2018-11-11</span>
                </li>
                                 <li>
                    <a href="/html/article//167.html" class="yaowan_txt2" title="省职鉴中心工会开展“不忘初心 永跟党走” 环青山湖竞走活动">省职鉴中心工会开展“不忘初心 永跟党走” 环青山湖竞走活动</a><span>2018-11-11</span>
                </li>
                                 <li>
                    <a href="/html/article//166.html" class="yaowan_txt2" title="省职鉴中心召开专题民主生活会">省职鉴中心召开专题民主生活会</a><span>2018-11-11</span>
                </li>
                                 <li>
                    <a href="" class="yaowan_txt2" title="全省职业技能鉴定管理人员政策业务培训班在南昌举办">全省职业技能鉴定管理人员政策业务培训班在南昌举办</a><span>2018-11-11</span>
                </li>
                                 <li>
                    <a href="/html/article//129.html" class="yaowan_txt2" title="省职鉴中心工会开展“不忘初心 永跟党走” 环青山湖竞走活动">省职鉴中心工会开展“不忘初心 永跟党走” 环青山湖竞走活动</a><span>2018-11-11</span>
                </li>
                                 <li>
                    <a href="/html/article//128.html" class="yaowan_txt2" title="省职鉴中心召开专题民主生活会">省职鉴中心召开专题民主生活会</a><span>2018-11-11</span>
                </li>
                                 <li>
                    <a href="/html/article//127.html" class="yaowan_txt2" title="全省职业技能鉴定管理人员政策业务培训班在南昌举办">全省职业技能鉴定管理人员政策业务培训班在南昌举办</a><span>2018-11-11</span>
                </li>
                                 <li>
                    <a href="/html/article//91.html" class="yaowan_txt2" title="省职鉴中心工会开展“不忘初心 永跟党走” 环青山湖竞走活动">省职鉴中心工会开展“不忘初心 永跟党走” 环青山湖竞走活动</a><span>2018-11-11</span>
                </li>
                             </ul>
            </div>
                </div>
    </div>







<script src="/static/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>

<script src="/static/js/cms.js" type="text/javascript" charset="utf-8"></script>