
<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="/static/css/cms1.0.css" />

<div class="layui-col-xs5">
    <div class="jieshao xuanxiang">
        <div class="jieshao_header">
            <span class="jieshao_header_left">网上服务</span>
        </div>
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                                <li class="layui-this">技能鉴定</li>
                               <li class="layui-this">网上登录</li>
                               <li class="layui-this">你好</li>
                               <li class="layui-this">博奥</li>
               
            </ul>

            <div class="layui-tab-content" style="height: 350px;">
                                <div class="layui-tab-item "  style="display: none">
                                        <a href="ssssss">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181024/9134086213e743010b2dcdf3ef2d1b25.png"/></span>邮政专递服务</div>
                    </a>
                                    <a href="@@@@@">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181024/2d1240b3b0ba1f5e566ca893cad849f0.png"/></span>网上报名</div>
                    </a>
                                    <a href="aaaaaa">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181024/7f9be32d4a2a024dc6bb403826b4ed87.png"/></span>证书查询</div>
                    </a>
                                    <a href="33333">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181024/c4cbb97b116a9acd704276e674a0e329.png"/></span>成绩查询</div>
                    </a>
                                    <a href="#####">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181024/834ecc139c7436ff739d03bb60fd9452.png"/></span>鉴定公告</div>
                    </a>
                                    <a href="3333333">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181024/73b37e8666af607cdd37a036ceb50e74.png"/></span>准考证打印</div>
                    </a>
                                    <a href="ssssssssss">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181024/962d9063fb60429989eb8200c3943e2b.png"/></span>鉴定机构查询</div>
                    </a>
                                </div>


                                <div class="layui-tab-item "  style="display: none">
                                        <a href="bbbbbbbb">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181030/82b31d7c579f7b26ed43b4ae3c1574ff.png"/></span>鉴定工作者登陆</div>
                    </a>
                                    <a href="aaaaaaa">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181024/e652670577b28013b2f11be42706b4b6.png"/></span>机构登陆</div>
                    </a>
                                    <a href="222222222">
                            <div class="jd_btn2"><span><img src="/uploads/cms/picture/20181024/1c7a371fac93ef737582a932e631f4dd.png"/></span>社会考生登陆</div>
                    </a>
                                </div>


                                <div class="layui-tab-item "  style="display: none">
                                    </div>


                                <div class="layui-tab-item "  style="display: none">
                                    </div>


                            </div>

        </div>

    </div>
</div>
<script src="/static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>