<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="/static/css/cms1.0.css" />
<div class="layui-col-xs5">
    <div class="yaowen">
        <div class="jieshao_header">
                        <span class="yaowen_header_left" name="yao" value="2">通知公告</span>
                        <span class="yaowen_header_left" name="yao" value="5">法律法规</span>
                        <span class="header_right"><a id="a" href="/cms/index/category?id=2">更多<i class="layui-icon layui-icon-right"></i></a></span>
        </div>
                <div name="yao2" >
            <ul>
                                <li>
                    <a href="" target="_blank" class="yaowan_txt" title="sdfds">sdfds</a><span>2018-11-15</span>
                </li>
                              <li>
                    <a href="/html/article//197.html" target="_blank" class="yaowan_txt" title="关于《2018年江西省职业技能鉴定公告》有关具体操作事项的通知">关于《2018年江西省职业技能鉴定公告》有关具体操作事项的通知</a><span>2018-11-11</span>
                </li>
                              <li>
                    <a href="/html/article//192.html" target="_blank" class="yaowan_txt" title="2018年10月27日江西省技师、高级技师实操考核安排">2018年10月27日江西省技师、高级技师实操考核安排</a><span>2018-11-11</span>
                </li>
                              <li>
                    <a href="/html/article//191.html" target="_blank" class="yaowan_txt" title="关于在全省开展国家职业资格证书查询数据合规性自查的通知">关于在全省开展国家职业资格证书查询数据合规性自查的通知</a><span>2018-10-19</span>
                </li>
                              <li>
                    <a href="/html/article//159.html" target="_blank" class="yaowan_txt" title="关于《2018年江西省职业技能鉴定公告》有关具体操作事项的通知">关于《2018年江西省职业技能鉴定公告》有关具体操作事项的通知</a><span>2018-11-11</span>
                </li>
                          </ul>
        </div>
                <div name="yao5"  style="display:none" >
            <ul>
                                <li>
                    <a href="" target="_blank" class="yaowan_txt" title="省鉴定中心党支部召开“三严三实”专题民主生活会">省鉴定中心党支部召开“三严三实”专题民主生活会</a><span>2018-11-16</span>
                </li>
                              <li>
                    <a href="/html/article/239.html" target="_blank" class="yaowan_txt" title="省职鉴中心生活会">省职鉴中心生活会</a><span>2018-11-15</span>
                </li>
                              <li>
                    <a href="/html/article//198.html" target="_blank" class="yaowan_txt" title="江西省职业技能考核鉴定管理条例">江西省职业技能考核鉴定管理条例</a><span>2018-11-11</span>
                </li>
                              <li>
                    <a href="/html/article//160.html" target="_blank" class="yaowan_txt" title="江西省职业技能考核鉴定管理条例">江西省职业技能考核鉴定管理条例</a><span>2018-11-11</span>
                </li>
                              <li>
                    <a href="/html/article//122.html" target="_blank" class="yaowan_txt" title="江西省职业技能考核鉴定管理条例">江西省职业技能考核鉴定管理条例</a><span>2018-11-11</span>
                </li>
                          </ul>
        </div>
            </div>
</div>



<script src="/static/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>

<script src="/static/js/cms.js" type="text/javascript" charset="utf-8"></script>

