
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cms1.0.css" />
    <title>报名详情</title>
</head>

<body class="BaoMingXiangQing">
<div class="header_top">
    <div class="layui-container">
        <div class="layui-col-xs6 jd_header_left"><span>当前日期：2018年9月10日</span><span>10:30</span><span>星期一</span></div>
        <div class="layui-col-xs6 jd_header_right">
            <span>设为首页 </span>
            <span>加入收藏</span>
            <span>主任信箱</span>
        </div>
    </div>
</div>
<div class="banner"><img src="__PUBLIC__/img/cms1.0/banner.png" /></div>
<nav>
    <div class="layui-container">
        <ul class="nav">
            <li>
                <a href="/">首页</a>
            </li><span>|</span>
            <li>
                <a href="/cms/index/category">政务公开</a>
            </li><span>|</span>
            <li>
                <a href="/cms/index/category">鉴定安排</a>
            </li><span>|</span>
            <li>
                <a href="/cms/index/category">政策法规</a>
            </li><span>|</span>
            <li>
                <a href="/cms/index/category">资讯中心</a>
            </li><span>|</span>
            <li>
                <a href="/cms/index/category">技能竞赛</a>
            </li><span>|</span>
            <li>
                <a href="/cms/index/category">党建园地</a>
            </li>
        </ul>
    </div>
</nav>
<div class=" xiangqing">
    <div class="layui-col-xs9">

        <h3 class="baoming_title">
            <span class="baoming_title_span">考试文件</span>
            <span class="layui-breadcrumb rightfloat" lay-separator=">">
				  <a href="">首页</a>
				  <a href="">网上报名</a>
				  <a><cite>报名详情</cite></a>
				</span>
        </h3>
        <div class="xiangqing_header">
            <h2>省职鉴中心开展“夏日送清凉 专题考试</h2>
            <p>来源：江西省职业资格工作网 jx.osta.org.cn1028年2月2日</p>
        </div>
        <div class="baoming_main">
            <p>1、根据江西省人力资源和社会保障厅等五部门关于2017年江西省“振兴杯”职业技能大赛的通知（赣人社字〔2018〕168号）要求，对所有参赛选手全部实行网上报名，网报时，请选择相应的报名专题</p>
            <p>2、考生电子相片用于打印证书，相片应为免冠证件照，规格为90 X 120像素大小，分辨率为300 ；小写jpg格式。</p>
            <p>3、相同考生在同一考试时间只能申报一个职业工种，考生在填报时应仔细认真，确认无误后再上传电子相片、提交审核，一但提交审核后信息将</p>
        </div>
        <h3 class="baoming_title"><span class="baoming_title_span">时间安排</span></h3>
        <div class="baoming_main_table">
            <table class="layui-table" border="" cellspacing="" cellpadding="">
                <colgroup>

                </colgroup>
                <tbody>
                <tr>
                    <td>网上注册登记时间</td>
                    <td>现场资格审核时间</td>
                    <td>网上缴费时间</td>
                    <td>准考证打印时间</td>
                    <td>考试时间</td>
                </tr>
                <tr>
                    <td>2018.07.02 9：00
                        <p>起</p>2018.09.16 17：00
                        <p>止</p>
                    </td>
                    <td>2018.07.02 9：00
                        <p>起</p>2018.09.16 17：00
                        <p>止</p>
                        <p>（法定假日除外）</p>
                    </td>
                    <td>2018.07.02 9：00
                        <p>起</p>2018.09.16 17：00
                        <p>止</p>
                    </td>
                    <td>2018.07.02 9：00
                        <p>起</p>2018.09.16 17：00
                        <p>止</p>
                    </td>
                    <td>2018.07.02 9：00 </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 class="baoming_title"><span class="baoming_title_span">注意事项</span></h3>
        <div class="baoming_main baoming_main_zhuyi">
            <p>1、请使用IE8.0以上浏览器进行网报，不要使用其他浏览器。</p>
            <p>2、同时间段的考试，一个身份证只能注册一次，请记住报名序号。不能重复注册。</p>
            <p>3、在填报个人申报表时，带*号的项必须填写，必填项若出现灰色，请换一个别的工种，触发一下，然后再将填报工种换回你要报考的工种。</p>
        </div>
    </div>

    <div class="layui-col-xs3 baomingrukou">
        <h3 class="baoming_title"><span class="baoming_title_span">报名入口</span></h3>
        <div class="baomingrukou_main">
            <div class="baomingrukou_btn_main">
                <a href="#" class="leftfloat">
                    <div class="baomingrukou_btn">考生报名</div>
                </a>
                <a href="#" class="rightfloat">
                    <div class="baomingrukou_btn">机构报名</div>
                </a>
                <a href="#" class="leftfloat">
                    <div class="baomingrukou_btn">单位审查</div>
                </a>
                <a href="#" class="rightfloat">
                    <div class="baomingrukou_btn">打印准考证</div>
                </a>
            </div>

            <div class="baomingrukou_title">
                <span class="baomingrukou_title_span">帮助信息</span></h3>
                <p>现场审核：0791-88332676 88332233</p>
                <p>考务安排：0791-88332676 88332233</p>
                <p>技术咨询：0791-88332258 88332233</p>
            </div>
            <div class="baomingrukou_title">
                <span class="baomingrukou_title_span">缴费及咨询电话</span></h3>
                <p>0791-88332258 </p>
            </div>
            <div class="baomingrukou_title">
                <span class="baomingrukou_title_span">问题集锦</span></h3>
                <p>1.报考成功后能否对考试科目进行修改？</p>
                <p>答：网上支付前考生方可对科目进行任意修改，支付完成后不得更改任何科目信息。</p>
            </div>
        </div>

    </div>
</div>


{include file='content/foot'}
</body>

</html>
<script src="js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="js/layui.all.js" type="text/javascript" charset="utf-8"></script>