<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>用户协议</title>
    <link href="__STATIC__/css/app/mzui.min.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/css/app/other.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="">
    <div class="xieyi_main">
        {$content}
    </div>
</div>
</body>

</html>