
{extend name="layout"}
{block name="css"}
<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
{/block}
{block name="content"}
<body>
{if($arrEnroll)}
<form class="layui-form">
<table border="1" class="layui-table" width="100px" >
    <tr>
        <td>操作提示 </td>
        <td colspan="4">您已经完成照片上传，请检查所填信息，无误后提交审查</td>
    </tr>
    <tr>
        <td>港澳台证:</td>
        <td>{$logininfo.userpid?$logininfo.userpid:''}</td>
        <td>身份证号:</td>
        <td>{$logininfo.id_no?$logininfo.id_no:''}</td>
        <td colspan="1" rowspan="6"><img src="{$logininfo.avatar?$logininfo.avatar:''}"> </td>
    </tr>
    <tr>
        <td>姓名:</td>
        <td>{$logininfo.username?$logininfo.username:''}</td>
        <td>性别:</td>
        <td>{$logininfo.gender?$logininfo.gender:''}</td>
    </tr>
    <tr>
        <td>出生日期: </td>
        <td>{$logininfo.birthday?$logininfo.birthday:''}</td>
        <td>文化程度:</td>
        <td></td>
    </tr>
    <tr>
        <td>考生来源:</td>
        <td>社会</td>
        <td>参加工作时间:</td>
        <td></td>
    </tr>
    <tr>
        <td>所在单位:</td>
        <td colspan="3"></td>

    </tr>
    <tr>
        <td>联系电话:</td>
        <td>{$logininfo.mobile?$logininfo.mobile:''}</td>
        <td>手机:</td>
        <td></td>
    </tr>
    <tr>
        <td>通讯地址:</td>
        <td colspan="2">{$logininfo.provid?$logininfo.provid:''}{$logininfo.cityid?$logininfo.cityid:''}{$logininfo.areaid?$logininfo.areaid:''}{$logininfo.address?$logininfo.address:''}</td>
        <td>邮政编码:</td>
        <td>{$logininfo.zip_code}</td>
    </tr>
    <tr>
        <td>备注:</td>
        <td colspan="4"></td>

    </tr>
    <tr>
        <td>鉴定名称:</td>
        <td colspan="2">
            <input type="hidden" name="id" value="{$arrExamEnroll.id}">
            <select  name="exam_plan_id" id="exam_plan_id" class="type" lay-filter="exam_plan_id" lay-verify="required|exam_plan_id">
                {foreach name="arrExamPlan" id="v"}
                <option value="{$v.id}" {if($arrEnroll.exam_plan_id==$v.id)} selected {/if} > {$v.title?$v.title:''}</option>
                {/foreach}
            </select>
        </td>
        <td>鉴定类别:</td>
        <td colspan="2">
            <select  name="work_type_id" class="type" id="work_type_id" lay-filter="work_type_id" lay-verify="required|work_type_id">
                <option value="{$arrExamEnroll.work_type}"> {$arrExamEnroll.typename?$arrExamEnroll.typename:''}</option>
            </select>
        </td>

    </tr>
    <tr>
        <td>报考职业(工种):</td>
        <td colspan="2">
            <select  name="work_id" id="work_id" lay-filter="work_id" lay-verify="required|work_id">
                <option value="{$arrExamEnroll.wid}"> {$arrExamEnroll.code?$arrExamEnroll.code:''}   {$arrExamEnroll.workname?$arrExamEnroll.workname:''}</option>
            </select>
        </td>
        <td>报考职业方向:</td>
        <td >
            <select  name="work_direction_id" class="type" id="work_direction_id" lay-filter="work_direction_id" lay-verify="required|work_direction_id">
                <option value="{$arrExamEnroll.did}"> {$arrExamEnroll.directionname?$arrExamEnroll.directionname:''}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>鉴定级别:</td>
        <td colspan="2">
            <select  name="work_level_subject_level" class="type" id="work_level_subject_level" lay-filter="work_level_subject_level" lay-verify="required|work_level_subject_level">
                <option value="{$arrExamEnroll.work_level_subject_level}"> {$arrExamEnroll.work_level_subject_level?$arrExamEnroll.work_level_subject_level:''}</option>
            </select>
        </td>
        <td>考试科目:</td>
        <td colspan="2">
            <select  name="subject_id" class="type" id="subject_id" lay-filter="subject_id" lay-verify="required|subject_id">
                <option value=""> </option>
            </select>
        </td>
    </tr>
    <tr>
        <td>原证书编号:</td>
        <td colspan="2">
        </td>
        <td>原证书级别:</td>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <td>考试类型:</td>
        <td colspan="2">
            <select  name="exam_type" class="type" lay-filter="exam_type" lay-verify="required|exam_type">
                <option value="1" {if($arrExamEnroll.exam_type==1)} selected {/if} >新考</option>
                <option value="2" {if($arrExamEnroll.exam_type==2)} selected {/if} >补考</option>
            </select>
        </td>
        <td>考生来源:</td>
        <td>
            <select  name="source" class="type" id="source" lay-filter="source" disabled>
                <option value="4"> 个人</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>申报单位:</td>
        <td colspan="2"></td>
        <td>现场审核地点:</td>
        <td></td>
    </tr>
    <tr>
        <td>参加考试日程:</td>
        <td colspan="2">{$examenroll.exam_time?$examenroll.exam_time:''}</td>
        <td>参加考试地点:</td>
        <td>北京市十里堡</td>
    </tr>
    <tr>
        <td colspan="5" >
            <input  type="checkbox" name="checkPost" id="checkPost" value=""  lay-skin="primary"  lay-filter="required|checkPost" lay-verify="checkPost">&nbsp;&nbsp;我已阅读并同意《<a
                style="color: red;text-decoration: underline;" href="/cooper"
                target="_blank">诚信声明</a>》
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <button class="layui-btn" id="addorganize" lay-submit lay-filter="formSubmit">确认并立即修改</button>
        </td>
    </tr>

</table>
</form>
{else\}
<center>
    <h2>报名计划不能修改</h2>
</center>
{/if}
</body>
{/block}
{block name="script"}
<script src="__PUBLIC__/layui/assets/jquery-1.12.4.js"></script>

<script src="__PUBLIC__/layui/layui.js"></script>

<script>
    layui.use('element', function(){
        var element = layui.element;
    });

    layui.use(['form', 'layer','jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        //form表单验证
        form.verify({
            exam_plan_id: function (value) {
                if (value == "") {
                    return "鉴定名称必填";
                 }
            },
            work_id: function (value) {
                if (value == "") {
                    return "报考职业工种必填";
                }
            },
            work_direction_id: function (value) {
                if (value == "") {
                   return "职业方向必填";
                }
            },
            work_level_subject_level: function (value) {
                if (value == "") {
                    return "鉴定级别必填";
                }
            },
            work_type_id: function (value) {
                if (value == "") {
                    return "职业类别必填";
                }
            },
            exam_type: function (value) {
            if (value == "") {
                return "考试类型必填";
            }
        },
            checkPost: function (value){
                if(!$("#checkPost").is(":checked")){
                   return "诚信条款必选";
                }
            }
        });
        //根据鉴定名称获取工种
        form.on('select(exam_plan_id)', function(data){
            var exam_plan_id = data.value;
            $.ajax({
                url:'/api/ExamPlan/selbyid',
                type:'post',
                dataType:'json',
                data:{
                    exam_plan_id:exam_plan_id,
                },
                success:function (data) {
                    if (data.code==1){
                        $("#work_id").html("");
                        $("#work_direction_id").html("");
                        $("#work_type_id").html("");
                        $("#work_level_subject_level").html("");
                        var work_id = document.getElementById ("work_id");
                        var work_type_id = document.getElementById ("work_type_id");
                        for(var i in data.data[0]) {
                            var opt = document.createElement("option");
                            opt.value = data.data[0][i]['wid'];
                            opt.innerText = data.data[0][i]['code'] +"   "+ data.data[0][i]['name'];
                            work_id.appendChild (opt);
                            form.render('select');
                        };
                        for(var i in data.data[1]) {
                            var optworktype = document.createElement("option");
                            optworktype.value = data.data[1][i]['id'];
                            optworktype.innerText = data.data[1][i]['work_type_name'];
                            work_type_id.appendChild (optworktype);
                            form.render('select');
                        };

                    }else{
                        $("#work_id").html("");
                        $("#work_direction_id").html("");
                        $("#work_type_id").html("");
                        $("#work_level_subject_level").html("");
                        form.render('select');
                        layer.msg(data.msg)
                    }
                }
            });
            //防止页面跳转
            return false;
        });

        //获取职业方向和级别
        form.on('select(work_id)', function(data){
            var work_id = data.value;
            var exam_plan_id = $("#exam_plan_id").val();

            $.ajax({
                url:'/api/Work/selDirecLevel',
                type:'post',
                dataType:'json',
                data:{
                    work_id:work_id,
                    alltype_id:exam_plan_id,
                },
                success:function (data) {
//                     console.log(data);return false;
                    if (data.code==1){
                        $("#work_direction_id").html("");
                        $("#work_level_subject_level").html("");
                        var work_direction_id = document.getElementById ("work_direction_id");
                        var work_level_subject_level = document.getElementById ("work_level_subject_level");
                        for(var i in data.data[0]) {
                            var opt = document.createElement("option");
                            opt.value = data.data[0][i]['id'];
                            opt.innerText = data.data[0][i]['name'];
                            work_direction_id.appendChild (opt);
                            form.render('select');
                        }
                        for(var i in data.data[1]) {
                            var optLevel = document.createElement("option");
                            optLevel.value = data.data[1][i]['work_level'];
                            optLevel.innerText = data.data[1][i]['work_level'];
                            work_level_subject_level.appendChild (optLevel);
                            form.render('select');
                        }
                    }else{
                        $("#work_direction_id").html("");
                        $("#work_level_subject_level").html("");
                        form.render('select');
                        layer.msg(data.msg)
                    }
                }
            });
            //防止页面跳转
            return false;
        });

        //添加表单监听事件
        form.on('submit(formSubmit)', function (data) {
            data=data.field;
            console.log(data);
            $.ajax({
                url:'/api/ExamEnroll/update',
                type:'post',
                data:data,
                dataType:'json',
                success:function (data) {
                    if (data.code==1){
                        layer.msg(data.msg,{
                            icon: 1,//提示的样式
                            time:  2000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
                            end: function () {
                                //当你在iframe页面关闭自身时
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                                parent.location.reload();
                            }
                        });
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
            //防止页面跳转
            return false;
        });

    });


</script>
{/block}
