<div>
    <div class="header_title"><span>学习记录</span><div class="study_tishi rightfloat">您已学习2课时，还差28课时</div> </div>
    <div class="baoming_main">
        <table class="layui-table myorder_table" lay-skin="line">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col width="200">
            </colgroup>
            <thead>
            <tr>
                <th>试题</th>
                <th>考试时间</th>
                <th>得分</th>
                <th>获取课时</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2018秋季A类鉴定</td>
                <td>09-09：17：35</td>
                <td>88</td>
                <td>1课时</td>
                <td class="double_btn">
                    <div class="dayin_btn">删除</div>
                    <div class="blue_btn">重新考试</div>
                </td>
            </tr>
            <tr>
                <td>2018秋季A类鉴定</td>
                <td>09-09：17：35</td>
                <td>88</td>
                <td>1课时</td>
                <td class="double_btn">
                    <div class="blue_btn">重新考试</div>
                </td>
            </tr>
            <tr>
                <td>2018秋季A类鉴定</td>
                <td>09-09：17：35</td>
                <td>88</td>
                <td>1课时</td>
                <td class="double_btn">
                    <div class="blue_btn">重新考试</div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    layui.use(['form', 'laypage','laydate'], function() {
        var form = layui.form,
            $ = layui.jquery;
        form.render();
        var laydate = layui.laydate;
        $ = layui.jquery;
        form.render();

        var laypage = layui.laypage;

    });
</script>