<div class="header_title"><span>开始练习</span>

</div>
<div class="baoming_main">
    <table class="layui-table">
        <thead>
            <th>课时</th>
            <th>类型</th>
            <th>大小</th>
            <th>操作</th>
        </tr></thead>
        <tbody id="demoList">
        {volist name="data" id="vo"}
        <tr>
            <td>{$vo.file_name}</td>
            <td>{$vo.file_type}</td>
            <td>{$vo.file_size}</td>
            <td width="82px">
                {switch name="$vo.file_type" }
                {case value="视频格式" }
                <button class="layui-btn layui-btn-xs select" value="{$vo.file_address}">在线学习</button>
                {/case}
                {case value="Docx文档格式"}
                <a href="/uploads/learning/videos/{$vo.file_address}" class="layui-btn layui-btn-xs" target="_blank">下载学习</a>
                {/case}
                {case value="PDF文件格式"}
                <button class="layui-btn layui-btn-xs select" value="{$vo.file_address}">在线学习</button>
                {/case}
                {case value="PPT文件格式"}
                <a href="/uploads/learning/videos/{$vo.file_address}" class="layui-btn layui-btn-xs" target="_blank">下载学习</a>
                {/case}
                {case value="Flash动画文件"}
                <a href="/uploads/learning/videos/{$vo.file_address}" class="layui-btn layui-btn-xs" target="_blank">下载学习</a>
                {/case}
                {/switch}

            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    layui.use(['form', 'laypage','laydate'], function() {
        var form = layui.form,
            $ = layui.jquery;
        form.render();
        var laydate = layui.laydate;
        $ = layui.jquery;
        form.render();

        var laypage = layui.laypage;

        $(".select").click(function () {

            var fileAddress = this.value;

            var fileSuffix = fileAddress.split('.')[1];

            switch(fileSuffix)
            {
                case 'mp4':
                    layer.open({
                        type: 2,
                        title: false,
                        area: ['90%', '100%'],
                        shade: 0.8,
                        shadeClose: true,
                        content: '/uploads/learning/videos/'+fileAddress
                    });
                    break;
                case 'docx':
                    var fileType = 'docx文档格式';
                    break;
                case 'pdf':
                    layer.open({
                        type: 2,
                        title: false,
                        area: ['90%', '90%'],
                        shade: 0.8,
                        shadeClose: true,
                        content: '/uploads/learning/videos/'+fileAddress
                    });
                    break;
            }
        });

    });
</script>