{extend name="common@layout/nonelayout" /}
{block name="css"}{/block}
{block name="content"}
<body>
<form class="layui-form"  style="white-space:nowrap;">

    {notempty name="getArea"}
        {notempty name="examArea"}
    <select name="work_type" id="work_type" lay-verify="required" autocomplete="off"  lay-filter="work_type">
        <option value="">请选择考点</option>
            {volist name="examArea" id="vo"}
                {if $vo.organize_id}
                <option value="{$vo.organize_id}"  title="2">{$vo.name}
                    {switch name="$vo.type" }
                    {case value="1"}鉴定所站{/case}
                    {case value="2"}院校{/case}
                    {case value="3"}机构{/case}
                    {default /}0
                    {/switch}</option>
                {else}
                <option value="{$vo.center_id}," title="3">{$vo.exam_site}</option>
                {/if}
            {/volist}
    </select>
    <select name="roleType" lay-verify="required" autocomplete="off"  lay-filter="roleType">
        <option value="">请选择要录入角色</option>
        <option value="1">主考</option>
        <option value="7">副主考</option>
        <option value="2">流动监考</option>
        <option value="8">试卷接送人</option>
    </select>
    <button class="layui-btn" style="margin-top: 20px;width: 23%; margin-left: 40%;" lay-submit lay-filter="choiceJury">确认考点&角色</button>
    <input type="hidden" value="{$exam_plan_id}" id="exam_plan_id">
    <input type="hidden" id="batch" value="">
    <input type="hidden" id="roleType" value="">
    {notempty name="staff_log"}
    <br>
    <br>
    <table class="layui-table">
        <center><h3>已分配列表</h3></center>
        <tr>
            <th width="200px">姓名</th>
            <th width="200px">手机号</th>
            <th width="200px">分配地点</th>
            <th width="200px">分配角色</th>
            <th width="200px">分配时间</th>
            <th width="200px">操作</th>
        </tr>
        {volist name="staff_log" id="vo"}
        <tr>
            <td width="200px">{$vo.name}</td>
            <td width="200px">{$vo.phone}</td>
            <td width="200px">{volist name="examArea" id="v"}{if($vo.site_type == 2 && $vo.site_id == $v.organize_id)}
                {$v['name']}
                {switch name="$v.type" }
                {case value="1"}鉴定所站{/case}
                {case value="2"}院校{/case}
                {case value="3"}机构{/case}
                {default /}0
                {/switch}{/if}{if($vo.site_type == 3 && $vo.site_id == $v.center_id)}{$v['exam_site']}{/if}{/volist}</td>
            <td width="200px">{$vo.type}</td>
            <td width="200px">{$vo.create_time}</td>
            <td width="200px"><button staff_log_id="{$vo['id']}" class="layui-btn layui-btn-sm delete"><i class="layui-icon">&#xe640;</i>
                </button></td>
        </tr>
        {/volist}
    </table>
    {/notempty}
        {/notempty}
        {empty name="examArea"}
                <center><h2><span style="color: red">暂无地区可分配</span></h2></center>
        {/empty}
    {else}

    <form class="layui-form">
        <table border="1" class="layui-table" width="100px" >
            <h3 style="text-align: center">鉴定计划详情</h3>
            <tr>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">报名时间</label>
                    </div>
                </td>
                <td>
                    {volist name="arrWork" length='1' id="vo"}
                    {$vo.enroll_starttime}
                    {/volist} 到
                    {volist name="arrWork" length='1' id="vo"}
                    {$vo.enroll_endtime}
                    {/volist}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label" >审核截止时间</label>
                    </div>
                </td>
                <td>
                    {volist name="arrWork" length='1' id="vo"}
                    {$vo.audit_endtime}
                    {/volist}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">缴费截止时间</label>
                    </div>
                </td>
                <td>
                    {volist name="arrWork" length='1' id="vo"}
                    {$vo.pay_endtime}
                    {/volist}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">打印准考证时间</label>
                    </div>
                </td>
                <td>
                    {volist name="arrWork" length='1' id="vo"}
                    {$vo.print_starttime}
                    {/volist} 到
                    {volist name="arrWork" length='1' id="vo"}
                    {$vo.print_endtime}
                    {/volist}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">考试时间</label>
                    </div>
                </td>
                <td>
                    {volist name="arrWork" length='1' id="vo"}
                    {$vo.exam_time}
                    {/volist}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">工种类型</label>
                    </div>
                </td>

                <td>

                    {volist name="arrWork" id="vo"}
                    {$vo.typename;break;}
                    {/volist}
                </td>
                <td></td>


            </tr>


            <tr>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">工种名称</label>
                    </div>
                </td>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">工种方向</label>
                    </div>
                </td>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">工种级别</label>
                    </div>
                </td>
            </tr>
            {volist name="arrWork" id="vo"}
            <tr>
                <td>
                    {$vo.workname}
                </td>
                <td>
                    {volist name="vo.wdname" id="v"}
                    {$v}
                    <br>
                    {/volist}
                </td>
                <td>
                    <!--<span class="layui-bg-orange">-->
                    {volist name="vo.level" id="v"}
                    {$v}
                    {/volist}
                    <!--</span>-->
                </td>
                {/volist}
            </tr>
        </table>

    </form>
    {/notempty}
</form>
</body>
{/block}
{/extend}
{block name="script"}
<script>
    layui.use(['form', 'layer','jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        //监听下拉菜单 赋值
        form.on('select(work_type)', function (data) {
            category = data.value;
            categoryName = data.elem[data.elem.selectedIndex].title;
            form.render('select');
            $("#batch").val(categoryName);
        });
        //监听下拉菜单 赋值
        form.on('select(roleType)', function (data) {
            roleType = data.value;
            form.render('select');
            $("#roleType").val(roleType);
        });
        //监听提交
        form.on('submit(choiceJury)', function (data) {
            var code = $("#work_type").val();
            var text = $("#work_type").text();
            var area_type = $("#batch").val();
            var roleType = $("#roleType").val();
            var exam_plan_id = $("#exam_plan_id").val();
            layer.open({
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                area: ['90%', '90%'], //宽高
                title: "录入临时人员信息",
                content: urladdr.inputTemporary+"?code="+code+"&typeArea="+area_type+"&exam_plan_id="+exam_plan_id+"&roleType="+roleType,  //录入临时人员信息页面
                yes: function(index, layero){
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
            //防止页面跳转
            return false;
        });
        $(".delete").click(function () {
            var id =$(this).attr("staff_log_id");
            layer.open({
                title: ['温馨提示'],
                content: '<div style="color:#767676">确定要删除当前数据吗？</div>',
                btn: ['确定', '取消'],
                shadeClose: true,
                //回调函数
                yes: function(index, layero){
                    $.ajax({
                        url:urladdr.deleteStaffLog,
                        type:'post',
                        dataType:'json',
                        data:{
                            id:id,
                        },
                        //判断注册状态
                        success:function (data) {
                            if (data.code==1){
                                layer.msg(data.msg, {
                                    icon: 1,//提示的样式
                                    time: 1000, //1秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
                                    end: function () {
                                        location.reload();
                                    }
                                })
                            }else{
                                layer.msg(data.msg)
                            }
                        }
                    });
                    //防止页面跳转
                    return false;
                }
            });
            return false;

        });

    });

</script>
{/block}

