{extend name="common@layout/nonelayout" /}
{block name="content"}

<div style="width: 80%;height: 90%;margin: auto;border: 1px solid">
    <div style="width: 92px;height: 126px;margin: auto;border: 0px solid;float: right">
        <img src={$list['img']} style="width: 92px;height: 126px">
    </div>
    <div style="width: 413px;height: 40px;margin: auto;border: 1px solid;float: left">
        <div style="width: 156px;height: 100%;border-right: 1px solid;float: left">
            姓名
        </div>
        <div style="width: 60%;height: 100%;float: left">
            {$list['user_name']}
        </div>
    </div>
    <div style="width: 413px;height: 40px;margin: auto;border: 1px solid;float: left">
        <div style="width: 156px;height: 100%;border-right: 1px solid;float: left">
            级别
        </div>
        <div style="width: 60%;height: 100%;float: left">
            {$list['level']}
        </div>
    </div>
    <div style="width: 413px;height: 40px;margin: auto;border: 1px solid;float: left">
        <div style="width: 156px;height: 100%;border-right: 1px solid;float: left">
            科目
        </div>
        <div style="width: 60%;height: 100%;float: left">
            {$list['sub_name']}
        </div>
    </div>
    <div style="width: 613px;height: 10%;margin: auto;border: 1px solid;float: left">
        <div style="width: 156px;height: 100%;border-right: 1px solid;float: left">
            身份证号
        </div>
        <div style="width: 400px;height: 100%;float: left">
            {$list['user_card']}
        </div>
    </div>
    <div style="width: 613px;height: 10%;margin: auto;border: 1px solid;float: left">
        <div style="width: 156px;height: 100%;border-right: 1px solid;float: left">
            准考证号
        </div>
        <div style="width: 400px;height: 100%;float: left">
            {$list['card']}
        </div>
    </div>
    <div style="width: 100%;height: 10%;margin: auto;float: left">
        <div style="width: 49%;height: 100%;float: left;text-align: center">
            {if condition="$list['miss'] ==0"}
                <button id="doing_1" style="width: 50%;height: 80%;background-color:red" data-value="1">确认缺考</button>
            {elseif condition="$list['miss'] ==1"}
                <button id="doing_2" style="width: 50%;height: 80%;background-color:green" data-value="2">取消缺考</button>
            {/if}
        </div>
        <div style="width: 50%;height: 100%;float: left;text-align: center">
            {if condition="$list['Ill'] ==0"}
                <button id="doing_3" style="width: 50%;height: 80%;background-color:red" data-value="3">确认违纪</button>
            {elseif condition="$list['Ill'] ==1"}
                <button id="doing_4" style="width: 50%;height: 80%;background-color:green" data-value="4">取消违纪</button>
            {/if}
        </div>
    </div>
</div>
{/block}
{block name='script'}
<script>
    layui.use(['layer','jquery'], function(){
        var $ = layui.jquery, layer = layui.layer;
        $(document).on('click','#doing_1,#doing_2,#doing_3,#doing_4',function(){
            var type =$(this).attr('data-value');
            if(type == 2)
            {
                var mes = '确认缺考';
            }
            if(type == 1)
            {
                var mes = '取消缺考';
            }
            if(type == 3)
            {
                var mes = '确认违纪';
            }
            if(type == 4)
            {
                var mes = '取消违纪';
            }
            layer.confirm(mes, {
                btn: ['确定','取消'] //按钮
            }, function(index){
                layer.close();
                $.ajax({
                    url:'/admin/missing/updateInfoMiss',
                    data:{"list":{$list},"type":type},
                    type:"POST",
                    dataType:"json",
                    success:function(msg){
                        if(msg['code'] ==200)
                        {
                            if(type ==1)
                            {
                                var msg = '确认缺考成功';
                            }else if(type ==2)
                            {
                                var msg = '取消缺考成功';
                            }else if(type ==3)
                            {
                                var msg = '确认违纪成功';
                            }else if(type ==4)
                            {
                                var msg = '取消违纪成功';
                            }
                            layer.alert(msg,function (index){
                                layer.close(index);
                                window.parent.location.reload();
                            });
                        }
                    },
                    error:function(error) {
                        layer.alert('操作失败')
                    }
                });
            });
        });
    });
</script>
{/block}
