{load href="__PUBLIC__/layui/css/layui.css"/}
{load href="__STATIC__/css/common/page.css"/}
{load href="__PUBLIC__/layui/css/multiSelect.css"/}
{load href="__PUBLIC__/layui/css/zoomify.css"/}
{load href="__PUBLIC__/layui/css/con_main.css"/}
<style>
    .lhj-sub {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
</style>
{block name="css"}{/block}
{block name='content'}{/block}
{load href="__PUBLIC__/js/jquery.min.js"}
{load href="__PUBLIC__/js/jquery.cookie.js"}
{load href="__PUBLIC__/js/urladdr/urladdr.js"/}
{load href="__PUBLIC__/layui/layui.js"/}
{load href="__PUBLIC__/layui/js/zoomify.js"/}
{load href="__PUBLIC__/layui/lay/modules/code.js"/}
{load href="__PUBLIC__/js/common/must.js"}
{block name="script"}{/block}