<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">

<body>
<div class="layui-tab-content" style="width: 60%;margin: 0 auto;">

    {notempty name="score"}
    <h1><b>你的得分是{$score}分,再接再厉哦~~</b></h1><hr>
    {/notempty}

    <div class="layui-form layuiadmin-card-header-auto">
        {volist name="resultsCorrect|default=''" id="vo" }
        <ul class="layui-show">
            {switch name="$vo.type" }
            {case value="单选题" }
            <div class="test">
                <div class="warp_test">
                    <table class="outer_table">
                        <tbody>
                        <tr>
                            <td><h5> ■ {$vo.topic_name}</h5><br>
                                <p>A、{$vo.option_a}</p><p>B、{$vo.option_b}</p><p>C、{$vo.option_c}</p><p>D、{$vo.option_d}</p><br>
                                <table cellpadding="0" cellspacing="0" class="choice_table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            您的答案：{$vo.user_answer} <img src="__PUBLIC__/img/right.gif" alt="">
                                        </td>
                                        <td>
                                            解释说明： {$vo.answer_explain}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            <td align="right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><hr>
            {/case}
            {case value="多选题"}
            <div class="test">
                <div class="warp_test">
                    <table class="outer_table">
                        <tbody>
                        <tr>
                            <td><h5> ■ {$vo.topic_name} </h5><br>
                                <p>A、{$vo.option_a}</p><p>B、{$vo.option_b}</p><p>C、{$vo.option_c}</p><p>D、{$vo.option_d}</p><br>
                                <table cellpadding="0" cellspacing="0" class="choice_table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            您的答案：{$vo.user_answer} <img src="__PUBLIC__/img/right.gif" alt="">
                                        </td>
                                        <td>
                                            解释说明： {$vo.answer_explain}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            <td align="right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><hr>
            {/case}
            {case value="判断题"}
            <div class="test">
                <div class="warp_test">
                    <table class="outer_table">
                        <tbody>
                        <tr>
                            <td><h5> ■ {$vo.topic_name} </h5><br>
                                <table cellpadding="0" cellspacing="0" class="choice_table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            您的答案：{$vo.user_answer} <img src="__PUBLIC__/img/right.gif" alt="">
                                        </td>
                                        <td>
                                            解释说明： {$vo.answer_explain}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            <td align="right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><hr>
            {/case}
            {/switch}
        </ul>
        {/volist}


        {volist name="resultError|default=''" id="vo" }
        <ul class="layui-show">
            {switch name="$vo.type" }
            {case value="单选题" }
            <div class="test">
                <div class="warp_test">
                    <table class="outer_table">
                        <tbody>
                        <tr>
                            <td><h5> ■ {$vo.topic_name}</h5><br>
                                <p>A、{$vo.option_a}</p><p>B、{$vo.option_b}</p><p>C、{$vo.option_c}</p><p>D、{$vo.option_d}</p><br>
                                <table cellpadding="0" cellspacing="0" class="choice_table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            您的答案：{$vo.user_answer}<img src="__PUBLIC__/img/error.gif" alt="">正确答案为：{$vo.answer}
                                        </td>
                                        <td>
                                            解释说明： {$vo.answer_explain}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            <td align="right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><hr>
            {/case}
            {case value="多选题"}
            <div class="test">
                <div class="warp_test">
                    <table class="outer_table">
                        <tbody>
                        <tr>
                            <td><h5> ■ {$vo.topic_name} </h5><br>
                                <p>A、{$vo.option_a}</p><p>B、{$vo.option_b}</p><p>C、{$vo.option_c}</p><p>D、{$vo.option_d}</p><br>
                                <table cellpadding="0" cellspacing="0" class="choice_table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            您的答案：{$vo.user_answer}<img src="__PUBLIC__/img/error.gif" alt="">正确答案为：{$vo.answer}
                                        </td>
                                        <td>
                                            解释说明： {$vo.answer_explain}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            <td align="right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><hr>
            {/case}
            {case value="判断题"}
            <div class="test">
                <div class="warp_test">
                    <table class="outer_table">
                        <tbody>
                        <tr>
                            <td><h5> ■ {$vo.topic_name} </h5><br>
                                <table cellpadding="0" cellspacing="0" class="choice_table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            您的答案：{$vo.user_answer}<img src="__PUBLIC__/img/error.gif" alt="">正确答案为：{$vo.answer}
                                        </td>
                                        <td>
                                            解释说明： {$vo.answer_explain}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            <td align="right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><hr>
            {/case}
            {/switch}
        </ul>
        {/volist}


        {volist name="resultEmpty|default=''" id="vo" }
        <ul class="layui-show">
            {switch name="$vo.type" }
            {case value="1" }
            <div class="test">
                <div class="warp_test">
                    <table class="outer_table">
                        <tbody>
                        <tr>
                            <td><h5> ■ {$vo.topic_name}</h5><br>
                                <p>A、{$vo.option_a}</p><p>B、{$vo.option_b}</p><p>C、{$vo.option_c}</p><p>D、{$vo.option_d}</p><br>
                                <table cellpadding="0" cellspacing="0" class="choice_table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="__PUBLIC__/img/error.gif" alt="">您暂未填写答案，正确答案为：{$vo.answer}
                                        </td>
                                        <td>
                                            解释说明： {$vo.answer_explain}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            <td align="right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><hr>
            {/case}
            {case value="2"}
            <div class="test">
                <div class="warp_test">
                    <table class="outer_table">
                        <tbody>
                        <tr>
                            <td><h5> ■ {$vo.topic_name} </h5><br>
                                <p>A、{$vo.option_a}</p><p>B、{$vo.option_b}</p><p>C、{$vo.option_c}</p><p>D、{$vo.option_d}</p><br>
                                <table cellpadding="0" cellspacing="0" class="choice_table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="__PUBLIC__/img/error.gif" alt="">您暂未填写答案，正确答案为：{$vo.answer}
                                        </td>
                                        <td>
                                            解释说明： {$vo.answer_explain}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            <td align="right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><hr>
            {/case}
            {case value="3"}
            <div class="test">
                <div class="warp_test">
                    <table class="outer_table">
                        <tbody>
                        <tr>
                            <td><h5> ■ {$vo.topic_name} </h5><br>
                                <table cellpadding="0" cellspacing="0" class="choice_table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="__PUBLIC__/img/error.gif" alt="">您暂未填写答案，正确答案为：{$vo.answer}
                                        </td>
                                        <td>
                                            解释说明： {$vo.answer_explain}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            <td align="right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><hr>
            {/case}
            {/switch}
        </ul>
        {/volist}
    </div>
</div>
</body></html>
